.tab-bar-item {
        flex: 1;
        height: 53px;
        text-align: center;
        font-size: 10px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
		img {
		    width: 30px;
		    height: 30px;
		    vertical-align: middle;
		    margin-bottom: 2px;
		}
		span{
			margin-bottom: 7px;
		}
		.active{
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 500;
			color: #D73935;
		}
}


     