<template>
  <div class="trading">
    <!-- navbar -->
    <van-nav-bar title="交易" right-text="下单" @click-right="onClickRight" />
  </div>
</template>

<script>
export default {
  name: "Trading",
  data() {
    return {};
  },
  methods: {
    onClickRight() {},
  },
};
</script>

<style scoped="scoped">
@import "../../assets/css/trading/trading.css";
</style>
