<template>
  <div class="online_consulting">
    <van-nav-bar
      title="在线咨询 - 金丰投资"
      left-arrow
      @click-left="onClickLeft"
    />
    <div class="consult_form_title">
      <div>询前表单</div>
    </div>
    <div class="consult_form_text">
      为了更好地为您服务，请填写下列信息，然后点击“提交”按钮
      开始让客服人员进行交谈。
    </div>
    <!-- 表单 -->
    <van-form @submit="onSubmit">
      <div class="username_title">姓名</div>
      <van-field
        v-model="username"
        name="姓名"
        placeholder="请输入"
        :rules="[{ required: true, message: '请填写用户名' }]"
      />
      <div class="phone_title">电话</div>
      <van-field
        v-model="phone"
        type="tel"
        name="电话"
        placeholder="请输入"
        :rules="[{ required: true, message: '请填写电话' }]"
      />
      <div class="account_title">是否已开立账户?</div>
      <van-radio-group v-model="radio">
        <van-cell-group>
          <van-cell clickable @click="radio = '1'" title-class="radioLeftTitle">
            <template #title>
              <van-radio name="1">
                <template #icon="props">
                  <img :src="props.checked ? activeIcon : inactiveIcon" />
                </template>
              </van-radio>
              <span>已开真实账户</span>
            </template>
          </van-cell>
          <van-cell clickable @click="radio = '2'" title-class="radioLeftTitle">
            <template #title>
              <van-radio name="2">
                <template #icon="props">
                  <img :src="props.checked ? activeIcon : inactiveIcon" />
                </template>
              </van-radio>
              <span>已开体验账户</span>
            </template>
          </van-cell>
          <van-cell clickable @click="radio = '3'" title-class="radioLeftTitle">
            <template #title>
              <van-radio name="3">
                <template #icon="props">
                  <img :src="props.checked ? activeIcon : inactiveIcon" />
                </template>
              </van-radio>
              <span>还没开户</span>
            </template>
          </van-cell>
        </van-cell-group>
      </van-radio-group>
      <!-- 提交 -->
      <div style="margin: 16px">
        <van-button block native-type="submit" size="small" color="#2D3DD2"
          >提交</van-button
        >
      </div>
    </van-form>
  </div>
</template>

<script>
export default {
  name: "OnlineConsulting",
  data() {
    return {
      username: "",
      phone: "",
      radio: "0",
      checked:true,
      activeIcon: require('../../assets/image/home/xuanzhong.png'),
      inactiveIcon: require('../../assets/image/home/weixuanzhong.png'),
    };
  },
  methods: {
    onSubmit(values) {
      console.log("submit", values);
    },
    onClickLeft() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="less" scoped>
.online_consulting {
  height: 100vh;
  background-color: #f2f2f2;
  .radioLeftTitle{
    display: flex;
    align-items: center;
    span{
      padding-left: 6px;
    }
  }
  .consult_form_title {
    width: 100%;
    height: 62px;
    background: #2d3dd2;
    div {
      padding: 11px 0 31px 17px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
      line-height: 20px;
    }
  }
  .consult_form_text {
    padding: 15px;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 18px;
  }
  .username_title,
  .phone_title,
  .account_title {
    padding: 10px 15px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 17px;
  }
  .van-radio-group {
    span {
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #010101;
    }
    img {
      width: 16px;
      height: 16px;
    }
  }
}
</style>