<template>
  <div class="setting">
    <van-nav-bar
      title="设置"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
      <van-cell title="修改密码" is-link to="changePassword" />
      <van-cell title="指纹登录" is-link>
        <template #right-icon>
          <van-switch v-model="checkedFingerprint" size="20" active-color="#31B06B" inactive-color="#ccc"/>
        </template>
      </van-cell>
      <van-cell title="屏幕常亮" is-link >
        <template #right-icon>
          <van-switch v-model="checkedNormallyScreen" size="20" active-color="#31B06B" inactive-color="#ccc"/>
        </template>
      </van-cell>
      <van-cell
        title="显示设置"
        is-link
        :value="displaySet"
        value-class="right_text"
        to="displaySettings"
      />
      <van-cell title="声音设置" is-link to="soundSettings" />
      <van-cell title="清除缓存" is-link value="0MB" value-class="right_text" />
      <van-cell title="关于我们" is-link />
      <div style="margin: 16px">
        <van-button block color="#4162E1" native-type="submit" size="small"
          >退出登录</van-button
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Setting",
  data() {
    return {
      //指纹登录
      checkedFingerprint:false,
      //屏幕常亮
      checkedNormallyScreen:false,
      
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
  },
  computed:{
    //显示设置
    displaySet(){
      return localStorage.getItem("displaySet")==="redUp"?'红涨绿跌':'绿涨红跌'
    }
  }
};
</script>

<style lang="less" scoped>
.setting {
  .content {
    height: 100vh;
    background-color: #f2f2f2;
    .van-button {
      border: 0;
    }
    .right_text {
      font-size: 12px;
      font-family: PingFangSC-Medium, PingFang SC;
    }
  }
}
</style>