<template>
	<!--所有的item都展示同一个图片, 同一个文字-->
	<div class="tab-bar-item" @click="itemClick">
		<div>
			<slot name="item-icon"></slot>
		</div>
		<div>
			<slot name="item-text"></slot>
		</div>
	</div>
</template>

<script>
	export default {
		name: "TabBarItem",
		props: {
			path: String
		},
		methods: {
			itemClick() {
				this.$router.push(this.path).catch(err => {});
			}
		}
	}
</script>

<style scoped>
	@import "../../../assets/css/tabbarItem/tabBarItem.css";
</style>
