<template>
    <tab-bar>
        <tab-bar-item path="/home">
            <img slot="item-icon" src="../../../assets/image/home/ic_main_tab1.png" alt="">
            <span slot="item-text">首页</span>
        </tab-bar-item>
        <tab-bar-item path="/market">
            <img slot="item-icon" src="../../../assets/image/home/ic_main_tab2.png" alt="">
            <span slot="item-text">行情</span>
        </tab-bar-item>
        <tab-bar-item path="/trading" class="ic">
            <img slot="item-icon" src="../../../assets/image/home/ic_main_tab3.png" alt="">
            <span slot="item-text">交易</span>
        </tab-bar-item>
		<tab-bar-item path="/viewpoint">
		    <img slot="item-icon" src="../../../assets/image/home/ic_main_tab4.png" alt="">
		    <span slot="item-text">观点</span>
		</tab-bar-item>
        <tab-bar-item path="/profile">
            <img slot="item-icon" src="../../../assets/image/home/ic_main_tab5.png" alt="">
            <span slot="item-text">我的</span>
        </tab-bar-item>
    </tab-bar>
</template>

<script>
    import TabBar from '../../common/tabbar/TabBar'
    import TabBarItem from '../../common/tabbar/TabBarItem'
    export default {
        name: "MainTabBar",
        components:{
            TabBar,
            TabBarItem
        }
    }
</script>

<style scoped>
.ic img{
		transform: translateY(-5px) scale(1.3);
	}
</style>