<template>
  <div class="changePwd">
    <van-nav-bar
      title="修改密码"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
      <van-form @submit="onSubmit">
        <van-field
          v-model="beforePassword"
          type="password"
          name="beforePassword"
          label="原密码"
          placeholder="请输入原密码"
        />
        <van-field
          v-model="newPassword"
          type="password"
          name="newPassword"
          label="新密码"
          placeholder="请输入您的新密码"
          :border="false"
          maxlength="12"
          @input="ratePwd"
        />
        <div class="toast_rate">
          <div class="pwd_toast">6-12位字母，数学与符号组合，区分大小写</div>
          <div class="pwd_rate">
            <div
              :class="isActive === index ? 'active' : ''"
              v-for="(item, index) in intensity"
              :key="index"
            >
              <span>{{ item }}</span>
            </div>
          </div>
        </div>
        <van-field
          v-model="newPasswordTwo"
          type="password"
          name="newPasswordTwo"
          label="确认新密码"
          placeholder="请再次确认新密码"
          maxlength="12"
        />
        <div style="margin: 16px">
          <van-button block type="info" native-type="submit" color="#4162E1"
            >提交</van-button
          >
        </div>
      </van-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChangePassword",
  data() {
    return {
      beforePassword: "",
      newPassword: "",
      newPasswordTwo: "",
      isActive: -1,
      intensity: ["弱", "中等", "强"],
    };
  },
  methods: {
    ratePwd() {
        if(this.newPassword.length===0){
            this.isActive= -1
        }else if(this.newPassword.length>0 &&this.newPassword.length<=3){
            this.isActive=0
        }else if(this.newPassword.length>3 &&this.newPassword.length<=6){
            this.isActive=1
        }else if(this.newPassword.length>6 &&this.newPassword.length<=12){
            this.isActive=2
        }
    },
    onSubmit(values) {
      console.log("submit", values);
    },
    onClickLeft() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="less" scoped>
.changePwd /deep/ .van-nav-bar__title {
  font-weight: 600;
}
.changePwd {
  .content {
    height: 100vh;
    background-color: #f6f6f6;
    .toast_rate {
      .pwd_toast {
        padding-left: 114px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #bfc3cb;
        line-height: 17px;
        background-color: #fff;
      }
      .pwd_rate {
        display: flex;
        background-color: #fff;
        padding: 9px 0 14px 114px;
        border-bottom: 1px solid #f6f6f6;
        .active {
          color: #fff !important;
          background-color: #4162e1;
        }
        div:nth-child(2) {
          margin: 0 5px;
        }
        div {
          width: 62px;
          height: 21px;
          background: #d4e0f0;
          border-radius: 4px;
          text-align: center;
          color: #818ea1;
          span {
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            line-height: 21px;
          }
        }
      }
    }
  }
}
</style>