<template>
  <div class="displaySetting">
    <van-nav-bar
      title="显示设置"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
      <van-radio-group v-model="radio" @change="displayChange">
        <van-cell-group>
          <van-cell title="绿涨红跌" clickable @click="radio = 'greenUp'">
            <template #right-icon>
              <van-radio name="greenUp" />
            </template>
          </van-cell>
          <van-cell title="红涨绿跌" clickable @click="radio = 'redUp'">
            <template #right-icon>
              <van-radio name="redUp" />
            </template>
          </van-cell>
        </van-cell-group>
      </van-radio-group>
    </div>
  </div>
</template>

<script>
export default {
  name: "DisplaySettings",
  data() {
    return {
      radio: "greenUp",
    };
  },
  methods: {
    displayChange(name) {
        console.log(name);
        window.localStorage.setItem('displaySet',this.radio);
        // this.radio =localStorage.getItem("displaySet")==="redUp"?'redUp':'greenUp'
    },
    onClickLeft() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="less" scoped>
.displaySetting {
  .content {
    height: 100vh;
    background-color: #f2f2f2;
  }
}
</style>