<template>
  <div class="soundSettings">
    <van-nav-bar
      title="声音设置"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
        <van-cell-group>
          <van-cell title="订单成交声音提醒" clickable @click="radio = 'greenUp'">
            <template #right-icon>
              <van-switch v-model="vibrations" size="20" active-color="#31B06B" inactive-color="#ccc"/>
            </template>
          </van-cell>
          <van-cell title="订单成交声音震动" clickable @click="radio = 'redUp'">
            <template #right-icon>
              <van-switch v-model="vibrations" size="20" active-color="#31B06B" inactive-color="#ccc"/>
            </template>
          </van-cell>
        </van-cell-group>
    </div>
  </div>
</template>

<script>
export default {
  name: "SoundSettings",
  data() {
    return {
        //声音提醒
        remind:true,
        //声音震动
        vibrations:true
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="less" scoped>
.soundSettings {
  .content {
    height: 100vh;
    background-color: #f2f2f2;
    padding-top: 10px;
    .van-cell-group{
        
    }
  }
}
</style>