<template>
  <div class="extract">
    <van-nav-bar
      title="钱包提取"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <van-form @submit="onSubmit">
      <van-field
        v-model="user"
        name="user"
        label="到账账户"
        left-icon="contact"
        input-align="right"
        readonly
      />
      <van-field
        v-model="extract_money"
        name="extract_money"
        label="提取金额"
        left-icon="balance-o"
        input-align="right"
        readonly
      />
    </van-form>
    <div class="btn">
      <div><span>确认</span></div>
      <div @click="onClickLeft"><span>取消</span></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Extract",
  data() {
    return {
      user: "52164477",
      extract_money: "0.00",
    };
  },

  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    onSubmit(values) {
      console.log("submit", values);
    },
  },
};
</script>

<style lang="less" scoped>
.extract /deep/ .van-nav-bar__title {
  font-weight: 600;
}
.extract /deep/ .van-field__control--right {
  font-size: 15px;
  font-family: SourceHanSansCN-Bold, SourceHanSansCN;
  font-weight: bold;
  color: #707070;
}
.extract {
  .van-form {
    border-bottom: 8px solid #f3f3f3;
  }
  .btn {
    display: flex;
    justify-content: space-evenly;
    margin-top: 54px;
    div {
      width: 156px;
      height: 50px;
      background: #4162e1;
      border-radius: 4px;
      text-align: center;
      span {
        font-size: 15px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #ffffff;
        line-height: 50px;
      }
    }
  }
}
</style>