<template>
  <div class="inComeQuery">
    <van-nav-bar
      title="进账查询"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    >
      <template #right>
        <div class="filterImg" @click="showPopup">
          <img src="../../../../assets/image/home/ic_my_wallet5.png" />
        </div>
      </template>
    </van-nav-bar>
    <div class="card">
      <div class="sum_title">历史进账合计</div>
      <div class="sum">${{ sum }}</div>
      <div class="sum_other">
        <div>
          本月记录<span>{{ recordNum }}条</span>
        </div>
        <div>
          总计:<span>${{ sum }}</span>
        </div>
      </div>
    </div>
    <van-empty
      description="暂无数据"
      class="custom-image"
      :image="emptyImg"
    />
    <!-- 筛选弹出层 -->
    <van-popup
      v-model="popup_show"
      position="right"
      style="width: 308px; height: 100%"
    >
      <div class="filter_popup">
        <div class="filter_title">筛选</div>
        <div class="incomeDate">进账时间</div>
        <div class="dateScope">
          <div @click="dateRangeBefore">
            <span>{{ date }}</span>
          </div>
          —
          <div @click="dateRangeAfter">
            <span>{{ date2 }}</span>
          </div>
        </div>
        <div class="moneyStatusTitle">资金状态</div>
        <!-- grid资金状态 -->
        <van-grid :gutter="10" :column-num="3" class="addMargin">
          <!-- @click="clickState" :class="{active:stateClick}" -->
          <van-grid-item text="全部" />
        </van-grid>
        <van-grid :column-num="3" :gutter="10">
          <van-grid-item
            v-for="(item, index) in moneyState"
            :key="index"
            :text="item"
            :class="isActive === index ? 'active' : ''"
            @click="changeState(index)"
          />
        </van-grid>
        <div class="filter_btn">
          <div class="btn_reset" @click="offFilterPopup"><span>重置</span></div>
          <div class="btn_ok" @click="offFilterPopup"><span>确定</span></div>
        </div>
      </div>
    </van-popup>
    <van-calendar
      v-model="date_show"
      @confirm="onConfirm"
      :min-date="minDate"
      :max-date="maxDate"
      :default-date="defaultDate"
      class="datePosition"
      color="#4162E1"
      position="right"
      :round="false"
    />
    <van-calendar
      v-model="date_show_after"
      @confirm="onConfirmAfter"
      :min-date="minDate"
      :max-date="maxDate"
      class="datePosition"
      color="#4162E1"
      position="right"
      :round="false"
    />
  </div>
</template>

<script>
export default {
  name: "InComeQuery",
  data() {
    return {
      date: "2021-04-05",
      date2: "2021-05-04",
      date_show: false,
      date_show_after: false,
      minDate: new Date(2010, 0, 1),
      maxDate: new Date(2050, 0, 1),
      defaultDate: new Date(2021, 3, 5),
      recordNum: 0,
      sum: "0.0",
      popup_show: false,
      moneyState: [
        "可提取",
        "待审核",
        "待入账",
        "审核未通过",
        "已到账",
        "已扣回",
        "不可提取",
        "已过期",
        "已失效",
      ],
      isActive: -1,
      stateClick: false,
      emptyImg:require('../../../../assets/image/home/ic_my_wallet11.png')
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    showPopup() {
      this.popup_show = true;
    },
    formatDate(date) {
      let month = ("0" + (date.getMonth() + 1)).slice(-2);
      let day = ("0" + date.getDate()).slice(-2);
      return `${date.getFullYear()}-${month}-${day}`;
    },
    onConfirm(date) {
      this.date_show = false;
      console.log(date);
      this.date = this.formatDate(date);
    },
    onConfirmAfter(date2) {
      this.date_show_after = false;
      console.log(date2);
      this.date2 = this.formatDate(date2);
    },
    dateRangeBefore() {
      this.date_show = true;
    },
    dateRangeAfter() {
      this.date_show_after = true;
    },
    //选择资金状态
    changeState(index) {
      this.isActive=index
    },
    //点击确定 重置
    offFilterPopup() {
      this.popup_show = false;
    },
    clickState() {
      this.stateClick = true;
    },
  },
};
</script>

<style lang="less" scoped>
.inComeQuery /deep/ .van-calendar__popup {
  height: 62%;
}
.inComeQuery {
  .filterImg {
    display: flex;
    img {
      width: 20px;
    }
  }
  .card {
    width: 344px;
    height: 120px;
    padding: 15px 16px;
    background: #8995af;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 114px;
    .sum_title {
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #bdc5d9;
      line-height: 18px;
    }
    .sum {
      margin: 12px 0 15px 0;
      font-size: 21px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #ffffff;
      line-height: 32px;
    }
    .sum_other {
      display: flex;
      justify-content: space-between;
      div {
        font-size: 13px;
        font-weight: 400;
        color: #dbe1ef;
        span {
          padding-left: 5px;
        }
      }
      div:nth-child(1) {
        font-family: PingFangSC-Regular, PingFang SC;
        line-height: 18px;
      }
      div:nth-child(2) {
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        line-height: 20px;
      }
    }
  }
  .datePosition {
    margin: 0 20px;
  }
  .filter_popup {
    position: relative;
    height: 100%;
    .filter_title {
      font-size: 16px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #222222;
      line-height: 24px;
      padding-left: 16px;
    }
    .incomeDate {
      font-size: 13px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #222222;
      line-height: 23px;
      padding-left: 16px;
      margin-top: 20px;
    }
    .dateScope {
      display: flex;
      align-items: center;
      padding-left: 16px;
      margin-top: 10px;
      margin-bottom: 39px;
      div {
        width: 112px;
        height: 26px;
        background: #f4f4f4;
        border-radius: 13px;
        text-align: center;
        span {
          font-size: 13px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #868686;
          line-height: 26px;
        }
      }
    }
    .moneyStatusTitle {
      padding-left: 16px;
      line-height: 23px;
      margin-bottom: 18px;
      font-size: 13px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #222222;
    }
    .active {
      border: 1px solid #e0e0e0;
    }
    .addMargin {
      margin-bottom: 10px;
    }
    .filter_btn {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      div {
        flex: 1;
        height: 42px;
        text-align: center;
      }
      span {
        font-size: 15px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        line-height: 42px;
      }
      .btn_reset {
        border: 1px solid #f6f6f6;
        span {
          color: #868686;
        }
      }
      .btn_ok {
        background: #4162e1;
        span {
          color: #ffffff;
        }
      }
    }
  }
  .custom-image /deep/ .van-empty__image {
    width: 250px;
    height: 158px;
  }
  .filter_popup /deep/ .van-grid-item{
    padding-right: 0px !important;
    flex-basis: 30% !important;
    margin: 0 4px;
  }
  .filter_popup /deep/ .van-grid-item__content {
    padding: 10px 8px;
    font-size: 13px;
    background: #f8f8f8;
    border-radius: 4px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #525252;
    line-height: 20px;
  }
}
</style>
