<template>
  <div class="contactCustomerService">
    <van-nav-bar
      title="客服"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <van-tabs
      color="#4262DD"
      swipeable
      title-active-color="#4162E1"
      title-inactive-color="#222"
      line-width="25px"
    >
      <van-tab v-for="(item, index) in titles" :title="item" :key="index">
        <div class="content">
          <div class="service_text">如你有以下疑问，可直接点击了解：</div>
          <van-collapse v-model="activeName" accordion>
            <van-collapse-item title="开立账户是否会收取费用呢？" name="1" :is-link="false"
              >内容</van-collapse-item
            >
            <van-collapse-item title="你们是外盘交易吗？" name="2" :is-link="false"
              >内容</van-collapse-item
            >
            <van-collapse-item title="你们是不是赚我亏损的钱？" name="3" :is-link="false"
              >内容</van-collapse-item
            >
          </van-collapse>
          <div class="botton_content">
            <div class="bottom_btn" @click="toService"><span>立即咨询</span></div>
          </div>
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
export default {
  name: "ContactCustomerService",
  data() {
    return {
      activeName: "0",
      titles: [
        "平台介绍",
        "基础规则",
        "交易规则",
        "账户问题",
        "存取款问题",
        "盈利相关",
        "点差相关",
        "交易时间",
        "杠杆相关",
        "锁仓规则",
        "MT4操作问题",
      ],
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    toService(){
        this.$router.push('/onlineConsulting')
    }
  },
  components: {},
};
</script>

<style scoped lang="less">
.contactCustomerService /deep/ .van-nav-bar__title {
  font-weight: 600;
}
.contactCustomerService {
  .content /deep/ .van-cell {
    color: #4891da;
  }
  .content {
      height: calc(100vh - 70px);
      position: relative;
    .service_text {
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #454545;
      line-height: 22px;
      background-color: #fff;
      padding:18px 0 17px 14px;
      border-bottom: 1px solid #DFE1E5;
    }
    .botton_content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      background: #f6f6f6;
      height: 90px;
      .bottom_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 343px;
        height: 50px;
        background: #4162e1;
        border-radius: 4px;
        span {
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #ffffff;
          line-height: 20px;
        }
      }
    }
  }
}
</style>
