<template>
  <div class="moneyDetail">
    <van-nav-bar
      title="资金明细"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    >
      <template #right>
        <div class="filterImg" @click="showPopup">
          <img src="../../../assets/image/home/ic_my_wallet5.png" />
        </div>
      </template>
    </van-nav-bar>
    <div class="content">
      <div class="content_date">
        <div>2021年04月04日-2021年05月03日</div>
        <div>合计：$0.00</div>
      </div>
      <van-empty
        class="custom-image"
        image="https://ftp.bmp.ovh/imgs/2021/05/6c9fc3e8712df3ec.png"
        description="暂无数据"
      />
    </div>
    <!-- 筛选弹出层 -->
    <van-popup
      v-model="popup_show"
      position="right"
      style="width: 308px; height: 100%"
    >
      <div class="filter_popup">
        <div class="filter_title">筛选</div>
        <div class="queryWayTitle">查询方式</div>
        <van-grid :column-num="3" :gutter="10">
          <van-grid-item
            v-for="(item, index) in queryWay"
            :key="index"
            :text="item"
          />
        </van-grid>
        <div class="changeDate">选择月份</div>
        <div class="dateScope">
          <div @click="dateRangeBefore">
            <span>{{ date }}</span>
          </div>
          —
          <div @click="dateRangeAfter">
            <span>{{ date2 }}</span>
          </div>
        </div>
        <van-grid :gutter="10" :column-num="3">
          <van-grid-item text="全部" />
        </van-grid>
        <div class="filter_btn">
          <div class="btn_reset" @click="offFilterPopup"><span>重置</span></div>
          <div class="btn_ok" @click="offFilterPopup"><span>确定</span></div>
        </div>
      </div>
    </van-popup>
    <van-calendar
      v-model="date_show"
      @confirm="onConfirm"
      :min-date="minDate"
      :max-date="maxDate"
      :default-date="defaultDate"
      class="datePosition"
      color="#4162E1"
      position="right"
      :round="false"
    />
    <van-calendar
      v-model="date_show_after"
      @confirm="onConfirmAfter"
      :min-date="minDate"
      :max-date="maxDate"
      class="datePosition"
      color="#4162E1"
      position="right"
      :round="false"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      popup_show: false,
      date: "2021-04-05",
      date2: "2021-05-04",
      date_show: false,
      date_show_after: false,
      minDate: new Date(2010, 0, 1),
      maxDate: new Date(2050, 0, 1),
      defaultDate: new Date(2021, 3, 5),
      queryWay: ["存款", "取款", "赠金"],
      emptyImg:require('../../../assets/image/home/icon_nodata.png')
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    showPopup() {
      this.popup_show = true;
    },
    formatDate(date) {
      let month = ("0" + (date.getMonth() + 1)).slice(-2);
      let day = ("0" + date.getDate()).slice(-2);
      return `${date.getFullYear()}-${month}-${day}`;
    },
    onConfirm(date) {
      this.date_show = false;
      console.log(date);
      this.date = this.formatDate(date);
    },
    onConfirmAfter(date2) {
      this.date_show_after = false;
      console.log(date2);
      this.date2 = this.formatDate(date2);
    },
    dateRangeBefore() {
      this.date_show = true;
    },
    dateRangeAfter() {
      this.date_show_after = true;
    },
    //点击确定 重置
    offFilterPopup() {
      this.popup_show = false;
    },
  },
};
</script>

<style lang="less" scoped>
.moneyDetail /deep/ .van-calendar__popup {
  height: 62%;
}
.moneyDetail {
  .content {
    height: 100vh;
    padding: 0 16px;
    .content_date {
      padding-bottom: 17px;
      margin-bottom: 242px;
      border-bottom: 1px dashed #9a9fa0;
      div:nth-child(1) {
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #222222;
        line-height: 22px;
      }
      div:nth-child(2) {
        font-size: 16px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #8b8b8b;
        line-height: 24px;
      }
    }
  }
  .filterImg {
    display: flex;
    img {
      width: 20px;
    }
  }
  .datePosition {
    margin: 0 20px;
  }
  .filter_popup {
    position: relative;
    height: 100%;
    .filter_title {
      height: 35px;
      font-size: 16px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #8b8b8b;
      line-height: 35px;
      padding-left: 16px;
      background: #f6f6f6;
    }
    .changeDate {
      font-size: 13px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #222222;
      line-height: 23px;
      padding-left: 16px;
      margin-top: 20px;
    }
    .dateScope {
      display: flex;
      align-items: center;
      padding-left: 16px;
      margin-top: 10px;
      margin-bottom: 12px;
      div {
        width: 112px;
        height: 26px;
        background: #f4f4f4;
        border-radius: 13px;
        text-align: center;
        span {
          font-size: 13px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #868686;
          line-height: 26px;
        }
      }
    }
    .queryWayTitle {
      padding-left: 16px;
      line-height: 23px;
      margin-bottom: 18px;
      margin-top: 26px;
      font-size: 13px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #222222;
    }
    .active {
      border: 1px solid #e0e0e0;
    }
    .addMargin {
      margin-bottom: 10px;
    }
    .filter_btn {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      div {
        flex: 1;
        height: 42px;
        text-align: center;
      }
      span {
        font-size: 15px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        line-height: 42px;
      }
      .btn_reset {
        border: 1px solid #f6f6f6;
        span {
          color: #868686;
        }
      }
      .btn_ok {
        background: #4162e1;
        span {
          color: #ffffff;
        }
      }
    }
  }
  .filter_popup /deep/ .van-grid-item__content {
    padding: 10px 8px;
    font-size: 13px;
    border-radius: 4px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #525252;
    line-height: 20px;
  }
   .custom-image /deep/ .van-empty__image {
    width: 57px;
    height: 73px;
  }
}
</style>