<template>
  <div class="myWallet">
    <van-nav-bar
      title="我的钱包"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="card">
      <div class="card_title">
        <span>总资产（$）</span>
        <img src="../../../assets/image/home/ic_toright.png" />
      </div>
      <div class="money">0.00</div>
      <div class="money_detail">
        <div class="item">
          <div class="num">0.00</div>
          <span>累计已领取</span>
        </div>
        <div class="item add_border">
          <div class="num">0.00</div>
          <span>未达标</span>
        </div>
        <div class="item">
          <div class="num">0.00</div>
          <span>可提取</span>
        </div>
      </div>
      <div class="bottom_text">
        <span class="left_text">Tip:可提取金额可直接存入MT4,每天限1次。</span>
        <div @click="toExtract"><span>存入MT4</span></div>
      </div>
    </div>
    <!-- 按钮 -->
    <div class="btn">
      <div class="btn_item" @click="toIncomeQuery">
        <img src="../../../assets/image/home/ic_my_wallet6.png" />
        <span>进账查询</span>
      </div>
      <div class="btn_item" @click="toRecord">
        <img
          src="../../../assets/image/home/ic_my_wallet7.png"
          style="width: 28px; height: 20px"
        />
        <span>提取记录</span>
      </div>
    </div>
    <div class="title">
      <span>领取更多赠金</span>
    </div>
    <van-empty
      description="暂无发放赠金活动，看看其他活动吧～"
      class="custom-image"
      :image="emptyImg"
    >
      <div class="botton_txt"><span>前往活动中心</span></div>
    </van-empty>
  </div>
</template>

<script>
export default {
  name: "MyWallet",
  data(){
    return{
      emptyImg:require('../../../assets/image/home/ic_my_wallet8.png')
    }
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    toExtract(){
        this.$router.push('/extract')
    },
    toIncomeQuery(){
        this.$router.push('/inComeQuery')
    },
    toRecord(){
        this.$router.push('/record')
    }
  },
};
</script>

<style lang="less" scoped>
.myWallet /deep/ .van-nav-bar {
  background-color: transparent;
}
.myWallet /deep/ .van-nav-bar__title {
  color: #ffffff;
}
.myWallet /deep/ .van-icon {
  color: #ffffff;
}
.myWallet {
  height: 100vh;
  background: #f8f8f8;
  background-image: url(../../../assets/image/home/ic_my_wallet1.png);
  background-repeat: no-repeat;
  background-size: 375px 192px;
  .card {
    margin: auto;
    width: 334px;
    height: 223px;
    padding: 14px 14px 18px;
    background: #ffffff;
    box-shadow: 0px 4px 10px 0px rgba(224, 224, 224, 0.5);
    border-radius: 15px;
    .card_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 7px;
        height: 14px;
      }
      span {
        font-size: 13px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #9597a4;
        line-height: 18px;
      }
    }
    .money {
      font-size: 27px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #333333;
      line-height: 38px;
      margin-top: 5px;
    }
    .money_detail {
      display: flex;
      margin-top: 28px;
      .item {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .add_border::before {
        content: "";
        height: 18px;
        border-right: 1px solid #c6cbda;
        position: absolute;
        left: 0;
        top: 15px;
      }
      .add_border::after {
        content: "";
        height: 18px;
        border-right: 1px solid #c6cbda;
        position: absolute;
        right: 0;
        top: 15px;
      }
      .num {
        width: 34px;
        font-size: 16px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        line-height: 22px;
        margin-bottom: 8px;
      }
      span {
        font-size: 11px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        line-height: 16px;
      }
    }
    .bottom_text {
      display: flex;
      align-items: center;
      margin-top: 21px;
      .left_text {
        font-size: 11px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #9597a4;
        line-height: 16px;
      }
      div {
        width: 89px;
        height: 34px;
        background: #4162e1;
        border-radius: 4px;
        text-align: center;
        span {
          height: 18px;
          font-size: 13px;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #ffffff;
          line-height: 34px;
        }
      }
    }
  }
  .btn {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 15px 0;
    padding: 0 20px 0 23px;
    .btn_item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 156px;
      height: 40px;
      background: #ffffff;
      box-shadow: 0px 4px 10px 0px rgba(225, 225, 225, 0.5);
      border-radius: 4px;
      img {
        width: 22px;
        height: 23px;
      }
      span {
        margin-left: 7px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #74798c;
        line-height: 20px;
      }
    }
  }
  .title {
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 22px;
    padding-left: 23px;
    margin-bottom: 61px;
  }
  .botton_txt {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 22px;
  }
  .custom-image /deep/ .van-empty__image {
    width: 255px;
    height: 161px;
  }
}
</style>