<template>
  <div class="userinfo">
    <van-nav-bar
      title="个人信息"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
      <!-- 上半部分 -->
      <div class="content_top">
        <van-cell-group>
          <van-cell title="昵称" is-link to="changeNickname"/>
          <van-cell title="个人资料" is-link to="personalData"/>
          <van-cell
            title="实名认证"
            value="未认证"
            is-link
            value-class="text_color"
            to="realnameAuthentication"
          />
          <van-cell
            title="银行卡"
            value="未绑定"
            is-link
            value-class="text_color"
            @click="toAuthentication"
          />
        </van-cell-group>
      </div>
      <!-- 下半部分 -->
      <div class="content_bottom">
        <van-cell-group>
          <van-cell title="微信号">
            <template #default>
              <van-field
                v-model="wxNumber"
                placeholder="填写微信号"
                input-align="right"
              />
            </template>
          </van-cell>
          <van-cell title="QQ号">
            <template #default>
              <van-field
                v-model="qqNumber"
                type="digit"
                placeholder="填写QQ号"
                input-align="right"
              />
            </template>
          </van-cell>
          <van-cell title="邮箱">
            <template #default>
              <van-field
                v-model="email"
                placeholder="填写邮箱地址"
                input-align="right"
              />
            </template>
          </van-cell>
        </van-cell-group>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserInfo",
  data() {
    return {
      wxNumber: "",
      qqNumber: null,
      email: "",
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    toAuthentication(){
      this.$router.push('/authentication')
    }
  },
};
</script>

<style lang="less" scoped>
.userinfo {
  .content {
    height: 100vh;
    background-color: #f2f2f2;
    .content_top {
      .van-cell {
        padding: 8px 16px;
      }
      .text_color {
        color: red;
      }
    }
    .content_bottom {
      margin-top: 10px;
      .van-cell {
        padding: 4px 16px;
        align-items: center;
        .van-field {
          padding-right: 4px;
        }
      }
    }
  }
}
</style>