<template>
  <div class="feedback">
    <van-nav-bar title="意见反馈" left-arrow @click-left="onClickLeft" />
    <img src="../../assets/image/home/ic_feedbackbg.png" alt="" />
    <van-form @submit="onSubmit">
      <van-field
        type="textarea"
        v-model="opinion"
        size="large"
        name="opinion"
        placeholder="请详细面熟您的问题或建议,我们将在1-3个工作日内予以回复。(建议添加相关问题截图)"
      />
      <van-field name="uploader" :border="false">
        <template #input>
          <van-uploader
            :after-read="afterRead"
            v-model="uploaderImg"
            :max-count="4"
            capture
          >
          <img src="../../assets/image/home/ic_addnewimg.png" style="width:80px"/>
          </van-uploader>
        </template>
      </van-field>
      <div class="advice_text">建议添加问题截图，最多4张</div>
      <div style="margin: 16px">
        <van-button round block type="info" native-type="submit"
          >提交留言</van-button
        >
      </div>
    </van-form>
  </div>
</template>

<script>
export default {
  name: "feedback",
  data() {
    return {
      opinion:"",
      uploaderImg: [],
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    afterRead(file) {
      // 此时可以自行将文件上传至服务器
      console.log(file);
    },
    onSubmit(values) {
      console.log('submit', values);
    },
  },
};
</script>

<style lang="less" scoped>
.feedback {
  i {
    font-size: 80px;
  }
  img {
    width: 375px;
  }
  .advice_text {
    margin-left: 10px;
    font-size: 12px;
  }
}
</style>