<template>
  <div class="authentication">
    <van-nav-bar
      title="身份验证"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
      <div class="auth_title">FaceID 人脸核身服务</div>
      <div class="auth_img">
        <img src="../../../../assets/image/home/liveness_image_center.png" />
      </div>
      <div class="auth_toast">请正对屏幕，勿遮挡面部</div>
      <van-checkbox v-model="checked" shape="square" icon-size="13px">
        <span>我已阅读并同意</span>
        <span>《FaceID身份验证服务》</span>
      </van-checkbox>
      <div class="btn_start">
        <van-button round block type="info" :color="checked===true?'#00AAE5':'#CFD6DE'" @click="startAuth"
          >开始</van-button
        >
      </div>
      <div class="bottom_text">
        <img src="../../../../assets/image/home/iv_megvii_powerby.png" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "",
  data() {
    return {
      checked: false,
    };
  },
  methods: {
    startAuth() {
      if (this.checked === false) {
        return;
      }
    },
    onClickLeft() {
      this.$router.go(-1);
    },
  },
  components: {},
};
</script>

<style scoped lang="less">
.authentication /deep/ .van-nav-bar__title {
  font-weight: 600;
}
.authentication {
  .content {
    height: 100vh;
    background-color: #f6f6f6;
    position: relative;
    .auth_title {
      display: flex;
      justify-content: center;
      padding: 37px 0 98px 0;
      font-size: 18px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #595b5c;
      line-height: 25px;
    }
    .auth_img {
      display: flex;
      justify-content: center;
      img {
        width: 277px;
        height: 298px;
      }
    }
    .auth_toast {
      display: flex;
      justify-content: center;
      padding: 14px 0 27px 0;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 20px;
    }
    .van-checkbox {
      display: flex;
      justify-content: center;
      span:nth-child(2) {
        color: #76c3e5;
      }
    }
    .btn_start {
      margin: 36px 96px 0;
    }
    .bottom_text {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 53px;
      left: 0;
      right: 0;
      img {
        height: 16px;
      }
    }
  }
}
</style>
