<template>
  <div class="changeNickname">
    <van-nav-bar
      title="修改昵称"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
      <div class="content_form">
        <van-form @submit="onSubmit">
          <van-field
            v-model="nickname"
            name="昵称"
            placeholder="输入昵称"
          />
          <div class="btn">
            <van-button round block  type="info" native-type="submit" color="#4162E1"
              >保存</van-button
            >
          </div>
        </van-form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChangeNickname",
  data() {
    return {
      nickname: "",
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    onSubmit(values) {
      console.log("submit", values);
    },
  },
};
</script>

<style lang="less" scoped>
.changeNickname {
  .content {
    height: 100vh;
    background-color: #f2f2f2;
    .content_form{
        padding-top: 10px;
        .btn{
            display: flex;
            justify-content: center;
            margin: 16px;
            .van-button--block{
                width: 50%;
            }
        }
    }
  }
}
</style>