<template>
  <div class="personalData">
    <van-nav-bar
      title="个人资料"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <van-cell-group>
      <van-field label="国籍(地区)" value="中国大陆" readonly />
      <van-field label="真实姓名" value="张三" readonly />
      <van-field label="性别" value="先生" readonly />
      <van-field label="证件类型" value="身份证" readonly />
      <van-field label="证件号码" value="111111111111111111" readonly />
      <van-field label="手机号码" value="1387777777" readonly />
    </van-cell-group>
    <div class="bottom_text">
        <span>如有疑问?</span>
        <span @click="toCustomerService">请联系客服</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "PersonalData",
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    toCustomerService(){
        this.$router.push('/OnlineConsulting')
    }
  },
};
</script>

<style lang="less" scoped>
.personalData {
    .van-cell{
        padding: 8px 16px;
    }
    .bottom_text{
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 14px;
        span:nth-child(2){
            color: red;
        }
    }
}
</style>