<template>
  <div class="realnameAuthentication">
    <van-nav-bar
      title="实名认证"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
      <div class="content_title">
        <div class="title1">拍摄/上传你的二代身份证</div>
        <div class="title2">*张，1****************1</div>
      </div>
      <!-- 拍 摄 -->
      <div class="IDcard">
        <div class="zoom_in" v-show="show" @click="zoomInImg">
          <img src="../../../../assets/image/home/ic_fangda.png" />
        </div>
        <div class="delete_img" v-show="show" @click="deleteImg">
          <img src="../../../../assets/image/home/ic_shanchu.png" />
        </div>
        <van-form @submit="onSubmit">
          <van-field name="uploader" :border="false">
            <template #input>
              <van-uploader v-model="fileList" disabled :deletable="false">
                <div class="sample">
                  <img
                    src="../../../../assets/image/home/ic_uploadactive.png"
                    alt=""
                  />
                  <div>点击拍摄/上传人面像</div>
                </div>
              </van-uploader>
            </template>
          </van-field>
          <!-- 国徽面 -->
          <van-field name="uploader" :border="false">
            <template #input>
              <van-uploader
                v-model="fileList2"
                :deletable="false"
                capture="camera"
                :preview-full-image="false"
                :after-read="afterRead"
              >
                <div
                  class="sample sample2"
                  :style="bgImage"
                >
                  <img
                    src="../../../../assets/image/home/ic_uploadactive.png"
                    alt=""
                  />
                  <div>点击拍摄/上传国徽面</div>
                </div>
              </van-uploader>
            </template>
            <span>sss</span>
          </van-field>
          <div style="margin: 16px">
            <van-button
              size="small"
              block
              type="info"
              native-type="submit"
              color="#4162E1"
              >确认并提交</van-button
            >
          </div>
        </van-form>
      </div>
      <div class="bottom_text">
        <span>如有疑问?</span>
        <span @click="toCustomerService">请联系客服</span>
      </div>
    </div>
  </div>
</template>
<van-uploader>
  <van-button icon="plus" type="primary">上传文件</van-button>
</van-uploader>
<script>
export default {
  name: "RealnameAuthentication",
  data() {
    return {
      fileList: [
        // Uploader 根据文件后缀来判断是否为图片文件
        // 如果图片 URL 中不包含类型信息，可以添加 isImage 标记来声明
      ],
      fileList2: [
        // Uploader 根据文件后缀来判断是否为图片文件
        // 如果图片 URL 中不包含类型信息，可以添加 isImage 标记来声明
      ],
      //放大删除图片按钮
      show: false,
      bgImage: {
        backgroundImage:
          "url(" +
          require("../../../../assets/image/home/ic_idcard_back.png") +
          ")",
      },
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    toCustomerService() {
      this.$router.push("/OnlineConsulting");
    },
    afterRead(file) {
      this.show = true;
    },
    zoomInImg() {
      // ImagePreview([
      //   this.fileList2[0].content
      // ]);
      console.log(this.fileList2[0]);
    },
    deleteImg() {
      this.fileList2 = [];
      this.bgImage={
        backgroundImage:
          "url(" +
          require("../../../../assets/image/home/ic_idcard2.png") +
          ")",
      },
      this.show = false;
    },
    onSubmit(values) {
      console.log("submit:", values);
    },
  },
};
</script>

<style lang="less" scoped>
.realnameAuthentication {
  .content {
    display: flex;
    flex-direction: column;
    .content_title {
      text-align: center;
      .title1 {
        font-size: 14px;
        font-weight: 600;
        color: rgb(25, 137, 250);
      }
      .title2 {
        font-size: 12px;
      }
    }
    .IDcard {
      position: relative;
      .zoom_in {
        position: absolute;
        top: 56%;
        right: 0;
        width: 54px;
        height: 36px;
        z-index: 3;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .delete_img {
        position: absolute;
        top: 56%;
        left: 0;
        width: 54px;
        height: 36px;
        z-index: 3;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .van-field__control {
      justify-content: center;
      .van-uploader__wrapper {
        flex-direction: column;
      }
    }
    .IDcard /deep/ .van-field__control,
    .van-field__control--custom {
      justify-content: center;
    }
    .IDcard /deep/ .van-uploader__preview {
      position: absolute;
      z-index: 9;
      width: 200px;
      height: 125px;
      margin: 0;
    }
    .IDcard /deep/ .van-uploader__preview-image {
      width: 200px;
      height: 125px;
    }
    .sample {
      width: 200px;
      height: 125px;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: #fff;
      background-image: url(../../../../assets/image/home/ic_idcard_head.png);
      background-size: 200px 125px;
      img {
        width: 50px;
      }
    }
    .sample2 {
      // background-image: url(../../../assets/image/home/ic_idcard_back.png);
    }
    .van-cell {
      align-items: center;
    }
    .bottom_text {
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 14px;
      span:nth-child(2) {
        color: red;
      }
    }
  }
}
</style>