@font-face {
  font-family: "iconfont"; /* Project id 2523941 */
  src: url('//at.alicdn.com/t/font_2523941_22ads4qpj3t.woff2?t=1620271204296') format('woff2'),
       url('//at.alicdn.com/t/font_2523941_22ads4qpj3t.woff?t=1620271204296') format('woff'),
       url('//at.alicdn.com/t/font_2523941_22ads4qpj3t.ttf?t=1620271204296') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-friends:before {
  content: "\e61e";
}

.icon-tongzhi:before {
  content: "\e604";
}
