.market{
	height: calc(100vh - 48px);
	overflow:hidden;
	.market-nav{
		height: 48px !important;
		color: #000 !important;
	}
	.market_content{	
		height: 100vh;
		background-color: #f2f2f2;
		// position: relative;
		.title{
			display: flex;
			padding: 8px 10px;
			div{
				flex:1;
			}
		}
		.content_item{
			background-color: #fff;
			box-shadow: 0 1px 1px rgba(100,100,100,.2);
			.item{
				display: flex;
				padding: 8px 10px;
				.active_up{
					color: green;
				}
				.active_fall{
					color: red;
				}
				.varieties,.sell,.buy{
					div:nth-child(1),div:nth-child(3){
						font-size: 12px;
					}
				}
				.varieties{
					flex: 1;
					div:nth-child(2){
						font-size: 14px;
						color: #000;
						font-family: PingFangSC-Semibold, PingFang SC
					}	
				}
				.sell{
					flex: 1;
				}
				.buy{
					flex: 1;
				}
			}
		}
		.account_details{
			position: absolute;
			bottom: 53px;
			left: 0;
			right: 0;
			
			.details_updown{
				text-align: center;
				background-color: rgb(74, 88, 114);
				color: #e64040;
			}
			.money_detail{
				background-color: rgb(50, 69, 101);
				color: #fff;
				font-size: 14px;
				font-family: PingFangSC-Semibold, PingFang SC;
				.money_detail_show{
					display: flex;
					padding: 8px 10px;
					div{
						flex: 1;
						display: flex;
						flex-direction: column;
						span:nth-child(1){
							margin-bottom: 3px;
						}
					}
					.deposit_btn{
						display: flex;
						align-items: center;
						justify-content: center;
						span{
							width: 75px;
							height: 28px;
							background-color: #e64040;
							border-radius: 3px;
							line-height: 28px;
							text-align: center;
						}
					}
				}
				
			}
		}
	}
}