.market {
  height: calc(100vh - 48px);
  overflow: hidden;
}
.market .market-nav {
  height: 48px !important;
  color: #000 !important;
}
.market .market_content {
  height: 100vh;
  background-color: #f2f2f2;
}
.market .market_content .title {
  display: flex;
  padding: 8px 10px;
}
.market .market_content .title div {
  flex: 1;
}
.market .market_content .content_item {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.2);
}
.market .market_content .content_item .item {
  display: flex;
  padding: 8px 10px;
}
.market .market_content .content_item .item .active_up {
  color: green;
}
.market .market_content .content_item .item .active_fall {
  color: red;
}
.market .market_content .content_item .item .varieties div:nth-child(1),
.market .market_content .content_item .item .sell div:nth-child(1),
.market .market_content .content_item .item .buy div:nth-child(1),
.market .market_content .content_item .item .varieties div:nth-child(3),
.market .market_content .content_item .item .sell div:nth-child(3),
.market .market_content .content_item .item .buy div:nth-child(3) {
  font-size: 12px;
}
.market .market_content .content_item .item .varieties {
  flex: 1;
}
.market .market_content .content_item .item .varieties div:nth-child(2) {
  font-size: 14px;
  color: #000;
  font-family: PingFangSC-Semibold, PingFang SC;
}
.market .market_content .content_item .item .sell {
  flex: 1;
}
.market .market_content .content_item .item .buy {
  flex: 1;
}
.market .market_content .account_details {
  position: absolute;
  bottom: 53px;
  left: 0;
  right: 0;
}
.market .market_content .account_details .details_updown {
  text-align: center;
  background-color: #4a5872;
  color: #e64040;
}
.market .market_content .account_details .money_detail {
  background-color: #324565;
  color: #fff;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
}
.market .market_content .account_details .money_detail .money_detail_show {
  display: flex;
  padding: 8px 10px;
}
.market .market_content .account_details .money_detail .money_detail_show div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.market .market_content .account_details .money_detail .money_detail_show div span:nth-child(1) {
  margin-bottom: 3px;
}
.market .market_content .account_details .money_detail .money_detail_show .deposit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.market .market_content .account_details .money_detail .money_detail_show .deposit_btn span {
  width: 75px;
  height: 28px;
  background-color: #e64040;
  border-radius: 3px;
  line-height: 28px;
  text-align: center;
}
