<template>
  <div class="checkstand">
    <van-nav-bar
      title="收银台"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="content">
        <div><img class="img" src="../../assets/image/stand/pg.png" alt=""/></div>
    </div>
	<van-form @submit="onSubmit">
		<div class="cont2">
			<van-button type="default">1000 <span class="mei">美元</span> 
				<div class="ding">送$1000</div>
			</van-button>
			<van-button type="default">800 <span class="mei">美元</span> 
				<div class="ding">送$500</div>
			</van-button>
			<van-button type="default">500 <span class="mei">美元</span> 
				<div class="ding">送$500</div>
			</van-button>
			<van-button type="default">1000 <span class="mei">美元</span> 
				<div class="ding">送$1000</div>
			</van-button>
			<van-button type="default">800 <span class="mei">美元</span> 
				<div class="ding">送$500</div>
			</van-button>
			<van-button type="default">500 <span class="mei">美元</span> 
				<div class="ding">送$500</div>
			</van-button>
		</div>
	    <van-cell-group>
		  <van-field v-model="value" placeholder="请输入转账金额" />
	    </van-cell-group>
		<div class="yusuan">
			<div>预计折算人命币<span class="jin">￥6,520.02</span>元</div>
			<div class="dang">(当前入金可享：100美元现金+900美元交易赠金)</div>
		</div>
		<div class="ka">
			<van-radio-group v-model="radio">
				<div class="xuanka">
					<img class="yinka" src="../../assets/image/stand/yinlian.png" alt="">
					<div class="meizi">
						<div class="yinlian">
							<div>银联国际</div>
							<div class="danbi">单笔限额$50-$1000</div>
						</div>
						<div class="meir">每日有3笔未支付订单，当日无法继续使用</div>
					</div>
					<div class="an"><van-radio name="1"></van-radio></div>
				</div>
				<div class="heng"></div>
				<div class="xuanka">
					<img class="yinka" src="../../assets/image/stand/yinlian.png" alt="">
					<div class="meizi">
						<div class="yinlian">
							<div>银行卡支付</div>
							<div class="danbi">单笔限额$50-$6900</div>
						</div>
						<div class="meir">每日有3笔未支付订单，当日无法继续使用</div>
					</div>
					<div class="an"><van-radio name="2"></van-radio></div>
				</div>
				<div class="heng"></div>
				<div class="xuanka">
					<img class="yinka" src="../../assets/image/stand/ic_mywallet.png" alt="">
					<div class="meizi">
						<div class="yinlian">
							<div>数字钱包</div>
							<div class="danbi">支付USTD</div>
						</div>
						<div class="meir">每日有3笔未支付订单，当日无法继续使用</div>
					</div>
					<div class="an"><van-radio name="3"></van-radio></div>
				</div>
				<div class="heng"></div>
				<button type="submit" class="zhifu" @click="toPay">确认支付1000美元</button>
			</van-radio-group>
		</div>
	</van-form>
	<div class="tishi">
		<div class="tizi">温习提示</div>
		
		<div class="tiao tiao1">
			<div>1. </div>
			<div>商户仅供一次性使用，勿在未建立订单的情况下进行转账，可能造成款项无法到账的情况；
			</div>
		</div>
		
		<div class="tiao tiao2">
			<div>2. </div>
			<div>行情瞬息万变，建议随时保持账户资金充足，避免大量客户同时注资造成款项延误到账；</div>
		</div>
		<div class="tiao">
			<div>3. </div>
			<div>公司郑重承诺,客户入金不收取任何手续费费用;</div>
		</div>
		<div class="tiao">
			<div>4. </div>
			<div>实际支付金额以各支付渠道汇率为准,系统汇率仅供参考;</div>
		</div>
		<div class="tiao">
			<div>5. </div>
			<div>入金成功后,客户资金将存入客户专用保证金账户,保障资金安全</div>
		</div>
		<div class="tiao">
			<div>6. </div>
			<div>本司仅支持客户使用本人银行卡出入金,不支持信用卡或第三方入金。若出现信用卡入金,我司将退回资	金并收取5%手续费用;若出现第三方存款,除了退款	及收取5%手续费外,应监管牌照要求还会对账号先行禁用,需要提交所有过往存款证明及第三方存款人资料后等待审核。</div>
		</div>
	</div>
	<!-- 弹窗 -->
	<div class="dingwei" v-show="tan">
		<div class="bai">
			<div class="dingtu">
				<img class="dingtuu" src="../../assets/image/stand/hb.png" alt="">
			</div>
			<div class="juli">距离领取双倍增金仅差一步您确定要放弃吗？</div>
			<div class="que">
				<div class="ok" @click="ok">确定放弃</div>
				<div class="no" @click="no">继续入金</div>
			</div>
		</div>
	</div>
  </div>
</template>

<script>
export default {
  name: "CheckStand",
    data() {
      return {
		value:"",
        radio: '1',
		tan:false,
      }
    },
	mounted(){
		this.tan = sessionStorage.getItem('advertising'); 
	},
  methods: {
    onClickLeft() {
      this.$router.go(-1)
    },
	ok(){
		// console.log(5)
		this.tan = false
	},
	no(){
		// console.log(2)		
		this.tan = false
	},
	onSubmit(){

	},
	toPay(){
		this.$router.push('/stand')
	}
  },
};
</script>

<style lang="less" scoped>
.checkstand{
    .van-icon{
        color: #333;
    }
	.content{
		display: flex;	
		justify-content: center;
		.img{
			margin-top:14px;
		}
	}
	.cont2{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top:10px;
		.van-button--default{
			border-radius: 4px !important;
			border: 1px solid #D9E4F9 !important;
		}
		.van-button--normal{
			position: relative;
			width:98px;
			height:45px;
			margin-bottom:15px;
			font-size: 16px !important;
			color: #3E7DFF;
			.mei{
				font-size: 12px !important;
			}
			.ding{
				position: absolute;
				top:0;
				right:0;
				width:54px;
				height:15px;
				background-image: url(../../assets/image/stand/jx.png);
				font-size: 10px;
				color:#fff;
			}
		}	
	}
	.van-cell-group{
		width:346px;
		height:48px;
		margin: auto;
		
	}
	.van-cell{
		background: #F2F6FF !important;
		border-radius: 6px;
		border: 1px solid #D8E4FC;
	}
	.yusuan{
		width:346px;
		margin:auto;
		font-size: 14px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #96979B;
		margin-top:17px;
	}
	.jin{
		font-size: 26px;
		font-family: Arial-BoldMT, Arial;
		font-weight: normal;
		color: #E85858;
	}
	.dang{
		font-size: 14px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #E63838;
	}
	.ka{
		width:329px;		
		margin:auto;
		margin-top:25px;
	}
	.xuanka{
		display: flex;
	}
	.meizi{
		margin-left:15px;
		margin-right:23px;
	}
	.yinlian{
		font-size: 15px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #333333;
		display: flex;
	}
	.meir{
		font-size: 11px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #EB4A4A;
		line-height: 16px;
		letter-spacing: 1px;
	}
	.danbi{
		width:auto;
		padding:0 10px;
		height: 16px;
		border-radius: 8px;
		border: 1px solid #94B5F0;
		text-align: center;
		font-size: 11px;
		font-family: SourceHanSansCN-Regular, SourceHanSansCN;
		font-weight: 400;
		color: #90B6F8;
		line-height: 15px;
		margin-left:5px;
	}
	.an{
		margin-top:8px;
	}
	.heng{
		width: 329px;
		height: 1px;
		border: 1px solid #F8F8F8;
		margin: 14px 0;
	}
	.yinka{
		width:28px;
		height:29px;
		margin-top:3px;
	}
	.zhifu{
		width: 345px;
		height: 46px;
		background: #3E7DFF;
		border-radius: 4px;
		border:none;
		margin-left:-8px;
		margin-top:10px;
		font-size: 16px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #FFFFFF;
	}
	.tishi{
		margin:auto;
		width: 340px;
		font-size: 14px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #999999;
		line-height: 20px;
		margin-top:14px;
		margin-bottom:50px;
	}
	.tizi{
		font-size: 15px;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		margin-bottom:16px;
	}
	.tiao{
		margin-bottom:5px;
		display: flex;
	}
	.tiao1{
		font-weight: 600;
		color: #E25B5A;
	}
	.tiao2{
		font-weight: 600;
	}
	.dingwei{
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		background: rgba(0, 0, 0, 0.45);
		.bai{
			width: 332px;
			height: 266px;
			background: #FFFFFF;
			border-radius: 18px;
			margin:165px auto 0;
			.dingtuu{
				margin-left:71px;
				margin-top:26px;
			}
			.juli{
				width: 192px;
				font-size: 16px;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #373A41;
				line-height: 22px;
				text-align: center;
				margin: 7px auto 0;
			}
			.que{
				display: flex;
				margin-left:37px;
				margin-top:20px;
			}
			.ok{
				width: 122px;
				height: 46px;
				border-radius: 24px;
				border: 1px solid #EC493C;
				line-height: 46px;
				text-align: center;
				font-size: 16px;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #EC493C;
				margin-right:13px;
			}
			.no{
				width: 122px;
				height: 46px;
				background: #EC493C;
				border-radius: 24px;
				line-height: 46px;
				text-align: center;
				font-size: 16px;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #FFFFFF;
			}
		}
	}
	
}
</style>