<template>
  <div class="profile">
    <div class="top_half_content">
      <div class="content">
        <!-- 用户名 -->
        <div class="user_profile">
          <div class="user_name">
            <img src="../../assets/image/home/ic_mheader.png" alt="" />
            <span>{{username}}</span>
          </div>
			<div class="user_switch" @click="toLogin" v-show="is_login">
				<span>切换账户</span>
				<img src="../../assets/image/home/ic_mine_right.png" alt="" />
			</div>
        </div>
        <!-- 用户资产 -->
        <div class="user_assets">
          <div class="assets_title">
            <span>我的资产(美元)</span>
            <van-icon :name="showMoneyIcon" color="#ccc" @click="isShowMoney" v-show="is_login" />
          </div>
          <div class="assetss" v-show="is_login">{{ usermoney }}</div>
		  <div class="assetss" v-show="!is_login">- - - -</div>
		  
          <div class="withdraw_deposits" v-show="is_login" >
            <div>取款</div>
            <div>存款</div>
          </div>
		  <div class="withdraw_deposits" v-show="!is_login" >
		    <div>开户</div>
		    <div>登录</div>
		  </div>
		  
          <div class="user_detail">
            <div @click="toMoneyDetail">
              <img src="../../assets/image/home/ic_mymoney.png" />
              <span>资金明细</span>
            </div>
            <div @click="toMySaifu">
              <img src="../../assets/image/home/ic_mywallet.png" />
              <span>我的钱包</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 设置 -->
    <div class="other_setting">
      <!-- 个人信息 -->
      <div @click="toUserInfo">
        <div class="setting_left">
          <img src="../../assets/image/home/ic_mgrxx2.png" />
          <span>个人信息</span>
        </div>
        <van-icon name="arrow" color="#ccc" />
      </div>
      <!-- 用户须知 -->
      <div>
        <div class="setting_left">
          <img src="../../assets/image/home/ic_myhxz2.png" />
          <span>用户须知</span>
        </div>
        <van-icon name="arrow" color="#ccc" />
      </div>
      <!-- 意见反馈 -->
      <div @click="toFeedBack">
        <div class="setting_left">
          <img src="../../assets/image/home/ic_myjfk2.png" />
          <span>意见反馈</span>
        </div>
        <van-icon name="arrow" color="#ccc" />
      </div>
      <!-- 联系客服 -->
      <div @click="toContactCustomerService">
        <div class="setting_left">
          <img src="../../assets/image/home/ic_mlxwm2.png" />
          <span>联系客服</span>
        </div>
        <van-icon name="arrow" color="#ccc" />
      </div>
      <!-- 系统设置 -->
      <div @click="toSetting">
        <div class="setting_left">
          <img src="../../assets/image/home/ic_mxtsz2.png" />
          <span>系统设置</span>
        </div>
        <van-icon name="arrow" color="#ccc" />
      </div>
    </div>
  </div>
</template>

<script>
import {user} from '../../common/model'
export default {
  name: "Profile",
  data() {
    return {
		username:'未登录，立即登录',
		usermoney: "******",
		money:"",
		showMoney: false,
		showMoneyIcon: "closed-eye",
		is_login:false,
		
    };
  },
  created() {
	  this.userInfo();
  },
  methods: {
	async userInfo(){
		let _this = this;
	    let res = await user();
		console.log(res);
		_this.username = res.data.realname;
		_this.money = res.data.realname;
		
	},
    toUserInfo() {
      this.$router.push("/userInfo");
    },
    toSetting() {
      this.$router.push("/setting");
    },
    toLogin() {
      this.$router.push("/login");
    },
    toFeedBack() {
      this.$router.push("/feedback");
    },
    //我的钱包
    toMySaifu(){
      this.$router.push('/myWallet')
    },
    //资金明细
    toMoneyDetail(){
      this.$router.push('/moneyDetail')
    },
    //联系客服
    toContactCustomerService(){
      this.$router.push('/contactCustomerService')
    },
    isShowMoney() {
      this.showMoney = !this.showMoney;
      this.showMoney
        ? (this.showMoneyIcon = "closed-eye")
        : (this.showMoneyIcon = "eye-o");
      this.showMoney
        ? (this.usermoney = "******")
        : (this.usermoney = this.money);
    },
  },
};
</script>

<style lang="less" scoped>
.profile {
  .top_half_content {
    width: 100%;
    height: 350px;
    background: url(../../assets/image/home/shape_mine_head2.png);
    background-repeat: no-repeat;
    background-size: 100% 350px;
    .content {
      padding: 0 8px;
      text-align: center;
      padding-top: 30px;
      .user_profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.15);
        font-family: PingFangSC-Medium, PingFang SC;
        font-size: 14px;
        color: #fff;
        .user_name {
          display: flex;
          align-items: center;
          img {
            width: 45px;
          }
        }
        .user_switch {
          display: flex;
          align-items: center;
          img {
            width: 15px;
          }
        }
      }
      .user_assets {
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        .assets_title {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          padding-top: 25px;
          span {
            padding-right: 10px;
          }
        }
        .assetss {
          font-size: 35px;
          margin: 10px 0;
        }
        .withdraw_deposits {
          display: flex;
          justify-content: space-around;
          color: #fff;
          padding-bottom: 25px;
          border-bottom: 1px solid #ccc;
          div:nth-child(1) {
            width: 167px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            background-image: url(../../assets/image/home/ic_mine_left2.png);
            background-size: 167px 56px;
          }
          div:nth-child(2) {
            width: 167px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            background-image: url(../../assets/image/home/ic_mine_right2.png);
            background-size: 167px 56px;
          }
        }
        .user_detail {
          display: flex;
          align-items: center;
          padding: 20px 0;
          font-size: 14px;
          img {
            width: 15px;
          }
          span {
            padding-left: 5px;
          }
          div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          div:nth-child(1) {
            border-right: 1px solid #ccc;
          }
        }
      }
    }
  }
  .other_setting {
    .setting_left {
      img {
        width: 35px;
      }
      span {
        padding-left: 5px;
        color: #000;
        font-size: 13px;
      }
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
    }
  }
}
</style>