<template>
    <div class="nav-bar">
        <div class="left"><slot name="left"></slot></div>
        <div class="middle"><slot name="middle"></slot></div>
        <div class="right"><slot name="right"></slot></div>
    </div>
</template>

<script>
    export default {
        name: "NavBar"
    }
</script>

<style scoped>
    .nav-bar{
        display: flex;
		align-items: center;
        height: 58px;
        line-height: 58px;
        text-align: center;
		font-family: PingFangSC-Medium, PingFang SC;
		color: #FFFFFF;
    }
    .left{
        display: flex;
        justify-content: flex-start;
        padding-left: 6px;
    }
    .right{
        display: flex;
        justify-content: flex-end;
        padding-right: 6px;
    }
    .nav-bar .left,.right{
        flex: 1;
    }
    .nav-bar .middle{
        flex: 2;
    }
</style>