<template>
  <div class="historyRecommend">
    <van-nav-bar
      title="历史推荐"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
      fixed
    />
    <div class="content">
      <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
        <div class="items">
          <div class="item" v-for="(item,index) in recommendList" :key="index" @click="toRecommendDetail">
            <div class="item_title">{{item.title}}</div>
            <div class="item_usernum_date">
              <span>{{item.usernum}}人参与</span>
              <span>{{item.date}}</span>
            </div>
          </div>
        </div>
      </van-pull-refresh>
    </div>
  </div>
</template>

<script>
export default {
  name: "",
  data() {
    return {
      count: 0,
      isLoading: false,
      //推荐数据
      recommendList:[
          {
              title:"【道指提醒】多空信息交杂 道指剧烈震荡",
              usernum:1576,
              date:'2021-04-30 19:21'
          },
          {
              title:"【道指提醒】多空信息交杂 道指剧烈震荡",
              usernum:1576,
              date:'2021-04-30 19:21'
          },
      ]
    };
  },
  methods: {
    onRefresh() {
      setTimeout(() => {
        this.isLoading = false;
      }, 1000);
    },
    toRecommendDetail(){
        this.$router.push('/hotRecommend')
    },
    onClickLeft() {
      this.$router.push("/home");
    },
  },
  components: {},
};
</script>


<style scoped lang="less">
.historyRecommend /deep/ .van-nav-bar__title {
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
}
.historyRecommend {
  .content {
    .items {
        margin-top: 46px;
      .item {
        padding: 10px 16px;
        border-bottom: 1px solid #f6f6f6;
        .item_title {
          margin-bottom: 15px;
          font-size: 17px;
          font-family: SourceHanSansCN-Bold, SourceHanSansCN;
          font-weight: bold;
          color: #222222;
          line-height: 32px;
        }
        .item_usernum_date {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          font-family: ArialMT;
          line-height: 14px;
          span:nth-child(1) {
            color: #222222;
          }
          span:nth-child(2) {
            color: #bcbcbc;
          }
        }
      }
    }
  }
}
</style>
