<template>
  <div class="hotRecommend">
    <van-nav-bar
      title="热点推荐"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    >
      <template #right>
        <van-icon name="todo-list-o" size="20"  @click="toHistoryRecommend"/>
      </template>
    </van-nav-bar>
    <div class="content">
      <div class="recommend_title">
        <span>【道指提醒】</span>
        <span>多空信息交杂 道指剧烈震荡</span>
      </div>
      <div class="analysis">
        基本面分析:<br />
        <div>
          昨日美国第一季度实际个人消费支出季率初值由23%
          增长至10.7%,实际GDP年化季率初值由43%增长至
          64%,符合美联储利率决议的声明,美国经济复苏
          势头正在增强,不过拜登的加税政策仍在影响市场信
          心,以及工业器具龙头企业卡特彼勒指出,全球芯片
          荒或将影响到该产业,影响股价跌幅2.08%,促使多
          空力道强烈交战,道指大跌过后多方迅速反攻,因此 日内交易上,宜低多为主。
        </div>
      </div>
      <div class="inUsernum">
        <div>
          <span class="iconfont icon-friends"></span>
          <span>1236位用户已参与</span>
        </div>
        <div>2021-04-30 16:25</div>
      </div>
      <div class="progress">
        <span class="left_num">50.00%</span>
        <div class="prog">
          <span></span>
          <span></span>
        </div>
        <span class="right_num">50.00%</span>
      </div>
      <div class="changeImg">
        <img src="../../../assets/image/home/bg_point_more.png" />
        <img src="../../../assets/image/home/bg_point_little.png" />
      </div>
      <div class="teacher_analysis">金牌分析师-实时观点</div>
      <div class="analysis_detail">
        <div class="teacher_info">
          <img src="../../../assets/image/home/ic_head.png" />
          <span>派特</span>
        </div>
        <!-- 用户分布 -->
        <div class="user_distribution">
          <div class="user_distribution_left">
            <div class="user_num">
              <span>24.94%用户买涨</span>
              <span>/</span>
              <span>75.06%用户买跌</span>
            </div>
            <div class="user_prog">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="user_distribution_right">
            <span>道琼斯指数（US30）</span>
          </div>
        </div>
        <div class="analysis_title">技术分析:</div>
        <div class="analysis_text">
          <span>道指一小时图，指数大幅震荡，双均线意义 不大。</span>
          <span>
            目前MACD翻为空头动能、KD酝酿金 叉,保守者在33950轻仓做多,看至3411
            7,止损33870。激进者现价做多,止损修至 33940。
          </span>
        </div>
        <div class="analysis">
          <img src="../../../assets/image/home/swiper_img4.png" />
        </div>
        <div class="operation_suggestions">操作建议:</div>
        <div class="suggestions">
          道指保守者在33950轻仓做多,看至34117,止损33870。激进者现价做多,止损修至33940。
        </div>
        <div class="suggestions2 suggestions">
          支撑位：33876&nbsp;&nbsp;阻力位：34117
        </div>
        <div class="bottom_text">
          【以上内容仅供参考,不代表平台立场,坚 定自己的思路,做好相应风险控制。】
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "",
  data() {
    return {};
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    toHistoryRecommend(){
        this.$router.push('/historyRecommend')
    }
  },
  components: {},
};
</script>

<style scoped lang="less">
@import "../../../assets/icon/iconfont.css";
.hotRecommend /deep/ .van-nav-bar {
  background-color: transparent;
}
.hotRecommend /deep/ .van-nav-bar__title {
  color: #ffffff;
}
.hotRecommend /deep/ .van-icon {
  color: #ffffff;
}
.hotRecommend {
  height: 100vh;
  background-image: url(../../../assets/image/home/ic_home2.png);
  background-size: 100% 669px;
  background-repeat: no-repeat;
  .content {
    padding: 0 13px 7px;
    .recommend_title {
      font-size: 20px;
      font-family: SourceHanSansCN-Bold, SourceHanSansCN;
      font-weight: 600;
      color: #ffffff;
      line-height: 32px;
    }
    .analysis {
      font-size: 15px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #ffffff;
      line-height: 24px;
    }
    .inUsernum {
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-size: 14px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      line-height: 21px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .progress {
      display: flex;
      align-items: center;
      .prog {
        width: 237px;
        display: flex;
        margin: 0 7px;
        span {
          display: inline-block;
          width: 58px;
          height: 5px;
          background: linear-gradient(90deg, #e75a3f 0%, #feb02a 100%);
          border-radius: 0px 57px 57px 0px;
        }
        span:nth-child(2) {
          width: 179px;
          background: linear-gradient(90deg, #53a950 0%, #63d5b1 100%);
        }
      }
      span {
        font-size: 14px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
      }
      .left_num {
        color: #cd5b58;
      }
      .right_num {
        color: #59bd7b;
      }
    }
    .changeImg {
      margin-top: 13px;
      img {
        width: 172px;
        height: 52px;
      }
    }
    .teacher_analysis {
      margin-top: 23px;
      margin-bottom: 14px;
      font-size: 17px;
      font-family: SourceHanSansCN-Bold, SourceHanSansCN;
      font-weight: bold;
      color: #212225;
      line-height: 26px;
    }
    .analysis_detail {
      padding: 20px 15px 33px;
      background: #ffffff;
      border-radius: 11px;
      border: 1px solid #c95d55;
      .teacher_info {
        display: flex;
        align-items: center;
        img {
          width: 47px;
          height: 47px;
        }
        span {
          font-size: 17px;
          font-family: SourceHanSansCN-Bold, SourceHanSansCN;
          font-weight: bold;
          color: #212225;
          line-height: 26px;
        }
      }
      .user_distribution {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 18px;
        .user_distribution_left {
          .user_num {
            font-size: 12px;
            font-family: SourceHanSansCN-Regular, SourceHanSansCN;
            font-weight: 400;
            color: #9f9f9f;
            line-height: 18px;
            span:nth-child(2) {
              padding: 0 8px;
            }
          }
          .user_prog {
            width: 200px;
            span {
              display: inline-block;
              height: 5px;
            }
            span:nth-child(1) {
              width: 25%;
              background: #ef445a;
            }
            span:nth-child(2) {
              width: 75%;
              background: #06bf7b;
            }
          }
        }
        .user_distribution_right {
          width: 99px;
          height: 25px;
          background: linear-gradient(90deg, #fde4c8 0%, #fde4c8 100%);
          border-radius: 2px;
          text-align: center;
          span {
            font-size: 10px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #906f44;
            line-height: 25px;
          }
        }
      }
      .analysis_title {
        margin-top: 23px;
        margin-bottom: 16px;
        font-size: 17px;
        font-family: SourceHanSansCN-Bold, SourceHanSansCN;
        font-weight: bold;
        color: #212225;
        line-height: 26px;
      }
      .analysis_text {
        margin-bottom: 22px;
        span {
          font-size: 17px;
          font-family: SourceHanSansCN-Bold, SourceHanSansCN;
          font-weight: bold;
          line-height: 23px;
        }
        span:nth-child(1) {
          color: #212225;
        }
        span:nth-child(2) {
          color: #096eb8;
        }
      }
      .analysis {
        width: 316px;
        height: 192px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .operation_suggestions {
        font-size: 17px;
        font-family: SourceHanSansCN-Bold, SourceHanSansCN;
        font-weight: bold;
        color: #212225;
        line-height: 26px;
        margin: 11px 0 16px 0;
      }
      .suggestions {
        font-size: 16px;
        font-family: SourceHanSansCN-Bold, SourceHanSansCN;
        font-weight: bold;
        color: #fc0101;
        line-height: 23px;
      }
      .suggestions2{
          margin: 23px 0;
      }
      .bottom_text {
        font-size: 17px;
        font-family: SourceHanSansCN-Bold, SourceHanSansCN;
        font-weight: bold;
        color: #212225;
        line-height: 24px;
      }
    }
  }
}
</style>
