<template>
  <div class="messageCenter">
    <van-nav-bar
      title="消息中心"
      left-arrow
      @click-left="onClickLeft"
      @click-right="onClickRight"
    >
      <template #right>
        <div class="screening">
          <img src="../../assets/image/home/ic_filtermsg.png" />
          <span>筛选</span>
        </div>
      </template>
    </van-nav-bar>
    <div class="cy">
      <van-tabs
        v-model="active"
        animated
        swipeable
        color="#4162E1"
        line-width="25px"
        title-active-color="#333333"
        title-inactive-color="#808080"
      >
        <van-tab title="最新消息">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <div class="content">
              <div class="item">
                <div class="item_title">
                  【道指提醒】多空信息交杂 道指剧烈震荡
                </div>
                <div class="item_intro">
                  <div>基本面分析：昨日美国第一季度实际个人消费</div>
                  <div>支出季率初值由2.3%增长至10.7%，啊啊啊啊啊</div>
                </div>
                <div class="item_type_time">
                  <div class="item_type"><span>道琼斯指数</span></div>
                  <div class="item_time">2021-04-29 19:51:20</div>
                </div>
              </div>
              <div class="item">
                <div class="item_title">
                  【道指提醒】多空信息交杂 道指剧烈震荡
                </div>
                <div class="item_intro">
                  <div>基本面分析：昨日美国第一季度实际个人消费</div>
                  <div>支出季率初值由2.3%增长至10.7%，啊啊啊啊啊</div>
                </div>
                <div class="item_type_time">
                  <div class="item_type"><span>道琼斯指数</span></div>
                  <div class="item_time">2021-04-29 19:51:20</div>
                </div>
              </div>
              <div class="item">
                <div class="item_title">
                  【道指提醒】多空信息交杂 道指剧烈震荡刻晴凝光
                </div>
                <div class="item_intro">
                  <div>基本面分析：昨日美国第一季度实际个人消费</div>
                  <div>支出季率初值由2.3%增长至10.7%，啊啊啊啊啊</div>
                </div>
                <div class="item_type_time">
                  <div class="item_type"><span>道琼斯指数</span></div>
                  <div class="item_time">2021-04-29 19:51:20</div>
                </div>
              </div>
              <div class="item">
                <div class="item_title">
                  【道指提醒】多空信息交杂 道指剧烈震荡刻晴凝光
                </div>
                <div class="item_intro">
                  <div>基本面分析：昨日美国第一季度实际个人消费</div>
                  <div>支出季率初值由2.3%增长至10.7%，啊啊啊啊啊</div>
                </div>
                <div class="item_type_time">
                  <div class="item_type"><span>道琼斯指数</span></div>
                  <div class="item_time">2021-04-29 19:51:20</div>
                </div>
              </div>
              <div class="item">
                <div class="item_title">
                  【道指提醒】多空信息交杂 道指剧烈震荡刻晴凝光
                </div>
                <div class="item_intro">
                  <div>基本面分析：昨日美国第一季度实际个人消费</div>
                  <div>支出季率初值由2.3%增长至10.7%，啊啊啊啊啊</div>
                </div>
                <div class="item_type_time">
                  <div class="item_type"><span>道琼斯指数</span></div>
                  <div class="item_time">2021-04-29 19:51:20</div>
                </div>
              </div>
              <div class="item">
                <div class="item_title">
                  【道指提醒】多空信息交杂 道指剧烈震荡刻晴凝光
                </div>
                <div class="item_intro">
                  <div>基本面分析：昨日美国第一季度实际个人消费</div>
                  <div>支出季率初值由2.3%增长至10.7%，啊啊啊啊啊</div>
                </div>
                <div class="item_type_time">
                  <div class="item_type"><span>道琼斯指数</span></div>
                  <div class="item_time">2021-04-29 19:51:20</div>
                </div>
              </div>
              <div class="item">
                <div class="item_title">
                  【道指提醒】多空信息交杂 道指剧烈震荡刻晴凝光
                </div>
                <div class="item_intro">
                  <div>基本面分析：昨日美国第一季度实际个人消费</div>
                  <div>支出季率初值由2.3%增长至10.7%，啊啊啊啊啊</div>
                </div>
                <div class="item_type_time">
                  <div class="item_type"><span>道琼斯指数</span></div>
                  <div class="item_time">2021-04-29 19:51:20</div>
                </div>
              </div>
              <div class="bottom_text"><span>已显示全部内容</span></div>
            </div>
          </van-pull-refresh>
        </van-tab>
        <van-tab title="活动快报">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <van-empty description="已显示全部内容" />
          </van-pull-refresh>
        </van-tab>
        <van-tab title="系统公告"> </van-tab>
        <van-tab title="我的收藏">
          <van-pull-refresh v-model="isLoading" @refresh="onRefresh">
            <div class="bottom_text"><span>已显示全部内容</span></div>
          </van-pull-refresh>
        </van-tab>
      </van-tabs>
    </div>
  </div>
</template>

<script>
export default {
  name: "MessageCenter",
  data() {
    return {
      active: 0,
      count: 0,
      isLoading: false,
    };
  },
  methods: {
    onClickLeft() {
      this.$router.push("/home");
    },
    onClickRight() {},
    onRefresh() {
      setTimeout(() => {
        this.isLoading = false;
        this.count++;
      }, 1000);
    },
  },
};
</script>

<style lang="less" scoped>
.messageCenter /deep/ .van-tabs__nav {
  padding-right: 36px;
}
.messageCenter {
  .screening {
    display: flex;
    align-items: center;
    img {
      width: 15px;
    }
    span {
      margin-left: 6px;
      font-size: 14px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #0f0f0f;
      line-height: 21px;
    }
  }
  .content {
    overflow-y: scroll;
    height: calc(100vh - 90px);
    .bottom_text {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      font-family: SourceHanSansCN-Regular, SourceHanSansCN;
      font-weight: 400;
      color: #878787;
      line-height: 21px;
    }
    .item {
      border-bottom: 1px solid #f1f1f1;
      padding: 10px 12px;
      .item_title {
        font-size: 17px;
        font-family: SourceHanSansCN-Bold, SourceHanSansCN;
        font-weight: bold;
        color: #0f0f0f;
        line-height: 26px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .item_intro {
        font-size: 15px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #707070;
        line-height: 23px;
        div:nth-child(1) {
          padding-left: 40px;
        }
        div:nth-child(2) {
          padding-right: 90px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .item_type_time {
        display: flex;
        align-items: center;
        .item_type {
          width: 85px;
          height: 27px;
          background: #ecf4ff;
          border-radius: 8px;
          text-align: center;
          span {
            font-size: 14px;
            font-family: SourceHanSansCN-Bold, SourceHanSansCN;
            font-weight: bold;
            color: #4c6bae;
            line-height: 27px;
          }
        }
        .item_time {
          padding-left: 110px;
          font-size: 15px;
          font-family: ArialUnicodeMS;
          color: #a8a8a8;
          line-height: 20px;
        }
      }
    }
  }
}
</style>