    #home{
        height: calc(100vh - 53px);
		overflow-y: scroll;
        position: relative;
		.home-nav{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 9;
			background-image: url(../../image/home/ic_home1.png);
			background-size: 100% 58px;
			background-repeat: no-repeat;
			img{
				width: 30px;
				height: 30px;
				vertical-align: middle;
			}
			.icon-tongzhi{
				font-size: 21px;
				padding-top: 1px;
			}
		}
		.content{
			position: absolute;
			top: 58px;
			left: 0;
			right: 0;
			.top_half_content{
				background-image: url(../../image/home/ic_home2.png);
				background-size: 100% 333px;
				background-repeat: no-repeat;
				.content_swiper{
					img{
						width: 345px;
						height: 140px;
					}
					padding: 0 15px;
					.my-swipe{border-radius: 5px;}
					.my-swipe .van-swipe-item {
						color: #fff;
						font-size: 20px;
						height: 140px;
						text-align: center;
						img{
							
						}
				   }
				}				
				.notice-swipe {
					height: 20px;
					font-size: 14px;
					font-family: PingFangSC-Medium, PingFang SC;
					font-weight: 500;
					color: #FFFFFF;
					line-height: 20px;
				}

				// 浮动指数
				.money{
					display: flex;
					margin-left:14px;
					.money_left,.money_right{
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 111px;
						height: 86px;
						padding-left: 12px;
						font-family: PingFangSC-Medium, PingFang SC;
						img{
							width: 10px;
							vertical-align: middle;
						}
						div:nth-child(1){
							font-size: 14px;
							font-weight: 600;
							color: #333333;
							line-height: 21px;
						}
						div:nth-child(2){
			
							font-weight: 600;
							color:#DF505F;
							line-height: 30px;
						}
						.offline{
							display: flex;
							color:#DF505F;
							font-size: 11px;
						}
					}
					.money_left{
						margin-right: 10px;
						background-image: url(../../image/home/ic_home_market1.png);
						background-size: 111px 86px;
						background-repeat: no-repeat;
					}
					.money_right{
						background-image: url(../../image/home/ic_home_market2.png);
						background-size: 111px 86px;
						background-repeat: no-repeat;
					}
				}
				.top_half_content_btn{
					display: flex;
					justify-content: center;
					margin-top: 15px;
					img{
						width: 100%;
						height:100%;
					}
					.get_total{
						width: 167px;
						height: 56px;
					}
					.invite_friends{
						width: 167px;
						height: 56px;
						margin-left: 17px;
					}
				}
				
			}
			.hot_recommend{
				margin: 25px 0 38px 14px;
				.recommend_title{
					font-size: 18px;
					padding-bottom: 15px;
					font-family: PingFangSC-Semibold, PingFang SC;
					font-weight: 600;
					color: #333333;
					line-height: 25px;
				}
				.recommend_item{
					.recommend_swiper{
						box-shadow: 0 2px 1px rgba(100,100,100,.2);
					}
					.item{
						width: 228px;
						height: 169px;
						background-image: url(../../image/home/bg_hot_yellow.png);
						background-size: 228px 169px;
						padding: 12px 9px 15px 12px;
						.item_title{
							display: flex;
							justify-content: space-between;
							align-items: center;
							div:nth-child(1){
								padding: 4px 7px 4px 4px;
								color: #fff;
								background-color: #829BFF;
								font-size: 12px;
								font-family: PingFangSC-Regular, PingFang SC;
								font-weight: 400;
								color: #FFFFFF;
								line-height: 17px;
								border-top-left-radius: 5px;
								border-bottom-right-radius: 5px;
							}
							div:nth-child(2){
								font-size: 12px;
								color: #F26252;
							}
						}
						.item_intro{
							white-space: nowrap;
							overflow: hidden;
							text-overflow:ellipsis;
							font-family: PingFangSC-Semibold, PingFang SC;
							font-weight: 600;
							font-size: 17px;
							color: #222222;
							line-height: 24px;
							padding: 10px 0 11px 0;
						}
						.item_vs{
							width: 164px;
							height: 43px;
						}
						.item_date{
							margin-top: 9px;
							font-size: 12px;
							font-family: ArialUnicodeMS;
							color: #A8A8A8;
							line-height: 16px;
						}
					}
				}
			}
			.welfare{
				padding: 0 14px;
				.welfare_title{
					font-size: 18px;
					font-family: PingFangSC-Semibold, PingFang SC;
					font-weight: 600;
					color: #333333;
					line-height: 25px;
				}
				.welfare_content{
					.welfare_item2,.welfare_item{
						box-shadow: 0 1px 1px rgba(100,100,100,.2);
					}
					.welfare_item,.welfare_item2,.welfare_item3{
						display: flex;
						justify-content: space-evenly;
						align-items: center;
						padding: 15px 0;
						.item_left{
							flex:1;
							img{
								width: 40px;
								height: 49px;
							}
						}
						.item_middle{
							flex:3;
							div:nth-child(1){
								font-size: 15px;
								font-family: PingFangSC-Semibold, PingFang SC;
								font-weight: 600;
								color: #333333;
								line-height: 21px;
								span{
									color:#C0646A
								}
							}
							div:nth-child(2){
								font-size: 13px;
								font-family: PingFangSC-Medium, PingFang SC;
								font-weight: 500;
								color: #CFB076;
								line-height: 18px;
							}
						}
						.item_right{
							width: 90px;
							height: 30px;
							background: linear-gradient(159deg, #F7695D 0%, #ED5850 100%);
							border-radius: 16px;
							line-height: 30px;
							text-align: center;
							span{
								font-size: 13px;
								font-family: PingFangSC-Medium, PingFang SC;
								font-weight: 500;
								color: #FFFFFF;
							}
						}
					}
						
				}
			}
			.money_info{
				.info_title{
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding:0 14px 14px;
					.info_title_left{
						font-size: 18px;
						font-family: PingFangSC-Semibold, 	PingFang SC;
						font-weight: 600;
						color: #333333;
					}
					.info_title_right{
						display: flex;
						align-items: center;
						span{
							font-size: 11px;
						}
						img{
							width: 20px;
							height: 20px;
						}
					}
				}
				.info_content{
					width: 340px;
					height: 185px;
					background: #FCF7F3;
					border-radius: 6px;
					border: 1px solid #EAD7CA;
					margin: auto;
					.content_title{
						display: flex;
						align-items: center;
						justify-content: center;
						width: 105px;
						height: 35px;
						background-image: url(../../image/home/ic_hredian.png);
						background-size: 105px 35px;
						img{
							width: 17px;
						}
						div{
							padding-left: 5px;
							font-size: 14px;
							font-family: PingFangSC-Semibold, PingFang SC;
							font-weight: 600;
							color: #684003;
							line-height: 20px;
						}
					}
					.item1_border{border-bottom: 1px solid #ccc;}
					.info_content_item1{
						padding: 8px;
						
						img{
							width: 24px;
						}
						.info_C{
							display: flex;
							justify-content: space-between;
							div{
								font-size: 14px;
								font-family: ArialUnicodeMS;
								color: #74706E;
							}
						}
						.info_content_item_title{
							color: #000;
							font-size: 14px;
							padding: 5px 0;
						}
						.info_num{
							display: flex;
							justify-content: space-between;
							font-size: 12px;
							font-family: ArialUnicodeMS;
							color: #878586;
						}
					}
				}
			}
		}
	}