#home {
  height: calc(100vh - 53px);
  overflow-y: scroll;
  position: relative;
}
#home .home-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-image: url(../../image/home/ic_home1.png);
  background-size: 100% 58px;
  background-repeat: no-repeat;
}
#home .home-nav img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
#home .home-nav .icon-tongzhi {
  font-size: 21px;
  padding-top: 1px;
}
#home .content {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
}
#home .content .top_half_content {
  background-image: url(../../image/home/ic_home2.png);
  background-size: 100% 333px;
  background-repeat: no-repeat;
}
#home .content .top_half_content .content_swiper {
  padding: 0 15px;
}
#home .content .top_half_content .content_swiper img {
  width: 345px;
  height: 140px;
}
#home .content .top_half_content .content_swiper .my-swipe {
  border-radius: 5px;
}
#home .content .top_half_content .content_swiper .my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  height: 140px;
  text-align: center;
}
#home .content .top_half_content .notice-swipe {
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 20px;
}
#home .content .top_half_content .money {
  display: flex;
  margin-left: 14px;
}
#home .content .top_half_content .money .money_left,
#home .content .top_half_content .money .money_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 111px;
  height: 86px;
  padding-left: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
}
#home .content .top_half_content .money .money_left img,
#home .content .top_half_content .money .money_right img {
  width: 10px;
  vertical-align: middle;
}
#home .content .top_half_content .money .money_left div:nth-child(1),
#home .content .top_half_content .money .money_right div:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  line-height: 21px;
}
#home .content .top_half_content .money .money_left div:nth-child(2),
#home .content .top_half_content .money .money_right div:nth-child(2) {
  font-weight: 600;
  color: #DF505F;
  line-height: 30px;
}
#home .content .top_half_content .money .money_left .offline,
#home .content .top_half_content .money .money_right .offline {
  display: flex;
  color: #DF505F;
  font-size: 11px;
}
#home .content .top_half_content .money .money_left {
  margin-right: 10px;
  background-image: url(../../image/home/ic_home_market1.png);
  background-size: 111px 86px;
  background-repeat: no-repeat;
}
#home .content .top_half_content .money .money_right {
  background-image: url(../../image/home/ic_home_market2.png);
  background-size: 111px 86px;
  background-repeat: no-repeat;
}
#home .content .top_half_content .top_half_content_btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#home .content .top_half_content .top_half_content_btn img {
  width: 100%;
  height: 100%;
}
#home .content .top_half_content .top_half_content_btn .get_total {
  width: 167px;
  height: 56px;
}
#home .content .top_half_content .top_half_content_btn .invite_friends {
  width: 167px;
  height: 56px;
  margin-left: 17px;
}
#home .content .hot_recommend {
  margin: 25px 0 38px 14px;
}
#home .content .hot_recommend .recommend_title {
  font-size: 18px;
  padding-bottom: 15px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 25px;
}
#home .content .hot_recommend .recommend_item .recommend_swiper {
  box-shadow: 0 2px 1px rgba(100, 100, 100, 0.2);
}
#home .content .hot_recommend .recommend_item .item {
  width: 228px;
  height: 169px;
  background-image: url(../../image/home/bg_hot_yellow.png);
  background-size: 228px 169px;
  padding: 12px 9px 15px 12px;
}
#home .content .hot_recommend .recommend_item .item .item_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home .content .hot_recommend .recommend_item .item .item_title div:nth-child(1) {
  padding: 4px 7px 4px 4px;
  color: #fff;
  background-color: #829BFF;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 17px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#home .content .hot_recommend .recommend_item .item .item_title div:nth-child(2) {
  font-size: 12px;
  color: #F26252;
}
#home .content .hot_recommend .recommend_item .item .item_intro {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  font-size: 17px;
  color: #222222;
  line-height: 24px;
  padding: 10px 0 11px 0;
}
#home .content .hot_recommend .recommend_item .item .item_vs {
  width: 164px;
  height: 43px;
}
#home .content .hot_recommend .recommend_item .item .item_date {
  margin-top: 9px;
  font-size: 12px;
  font-family: ArialUnicodeMS;
  color: #A8A8A8;
  line-height: 16px;
}
#home .content .welfare {
  padding: 0 14px;
}
#home .content .welfare .welfare_title {
  font-size: 18px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 25px;
}
#home .content .welfare .welfare_content .welfare_item2,
#home .content .welfare .welfare_content .welfare_item {
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.2);
}
#home .content .welfare .welfare_content .welfare_item,
#home .content .welfare .welfare_content .welfare_item2,
#home .content .welfare .welfare_content .welfare_item3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
}
#home .content .welfare .welfare_content .welfare_item .item_left,
#home .content .welfare .welfare_content .welfare_item2 .item_left,
#home .content .welfare .welfare_content .welfare_item3 .item_left {
  flex: 1;
}
#home .content .welfare .welfare_content .welfare_item .item_left img,
#home .content .welfare .welfare_content .welfare_item2 .item_left img,
#home .content .welfare .welfare_content .welfare_item3 .item_left img {
  width: 40px;
  height: 49px;
}
#home .content .welfare .welfare_content .welfare_item .item_middle,
#home .content .welfare .welfare_content .welfare_item2 .item_middle,
#home .content .welfare .welfare_content .welfare_item3 .item_middle {
  flex: 3;
}
#home .content .welfare .welfare_content .welfare_item .item_middle div:nth-child(1),
#home .content .welfare .welfare_content .welfare_item2 .item_middle div:nth-child(1),
#home .content .welfare .welfare_content .welfare_item3 .item_middle div:nth-child(1) {
  font-size: 15px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 21px;
}
#home .content .welfare .welfare_content .welfare_item .item_middle div:nth-child(1) span,
#home .content .welfare .welfare_content .welfare_item2 .item_middle div:nth-child(1) span,
#home .content .welfare .welfare_content .welfare_item3 .item_middle div:nth-child(1) span {
  color: #C0646A;
}
#home .content .welfare .welfare_content .welfare_item .item_middle div:nth-child(2),
#home .content .welfare .welfare_content .welfare_item2 .item_middle div:nth-child(2),
#home .content .welfare .welfare_content .welfare_item3 .item_middle div:nth-child(2) {
  font-size: 13px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #CFB076;
  line-height: 18px;
}
#home .content .welfare .welfare_content .welfare_item .item_right,
#home .content .welfare .welfare_content .welfare_item2 .item_right,
#home .content .welfare .welfare_content .welfare_item3 .item_right {
  width: 90px;
  height: 30px;
  background: linear-gradient(159deg, #F7695D 0%, #ED5850 100%);
  border-radius: 16px;
  line-height: 30px;
  text-align: center;
}
#home .content .welfare .welfare_content .welfare_item .item_right span,
#home .content .welfare .welfare_content .welfare_item2 .item_right span,
#home .content .welfare .welfare_content .welfare_item3 .item_right span {
  font-size: 13px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
}
#home .content .money_info .info_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 14px;
}
#home .content .money_info .info_title .info_title_left {
  font-size: 18px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
}
#home .content .money_info .info_title .info_title_right {
  display: flex;
  align-items: center;
}
#home .content .money_info .info_title .info_title_right span {
  font-size: 11px;
}
#home .content .money_info .info_title .info_title_right img {
  width: 20px;
  height: 20px;
}
#home .content .money_info .info_content {
  width: 340px;
  height: 185px;
  background: #FCF7F3;
  border-radius: 6px;
  border: 1px solid #EAD7CA;
  margin: auto;
}
#home .content .money_info .info_content .content_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 35px;
  background-image: url(../../image/home/ic_hredian.png);
  background-size: 105px 35px;
}
#home .content .money_info .info_content .content_title img {
  width: 17px;
}
#home .content .money_info .info_content .content_title div {
  padding-left: 5px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #684003;
  line-height: 20px;
}
#home .content .money_info .info_content .item1_border {
  border-bottom: 1px solid #ccc;
}
#home .content .money_info .info_content .info_content_item1 {
  padding: 8px;
}
#home .content .money_info .info_content .info_content_item1 img {
  width: 24px;
}
#home .content .money_info .info_content .info_content_item1 .info_C {
  display: flex;
  justify-content: space-between;
}
#home .content .money_info .info_content .info_content_item1 .info_C div {
  font-size: 14px;
  font-family: ArialUnicodeMS;
  color: #74706E;
}
#home .content .money_info .info_content .info_content_item1 .info_content_item_title {
  color: #000;
  font-size: 14px;
  padding: 5px 0;
}
#home .content .money_info .info_content .info_content_item1 .info_num {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: ArialUnicodeMS;
  color: #878586;
}
