<template>
  <div class="viewpoint">
    <van-tabs
      v-model="activeName"
      swipeable
      line-width="20px"
      line-height="2px"
      title-active-color="#4262DE"
      color="#4262DE"
      background="#f2f2f2"
      animated
      sticky
    >
      <van-tab title="实时观点" name="viewpointName">
        <div class="viewpoint_content">
          <div class="vp_item">
            <img src="../../assets/image/home/icon_laoshiheader.png" alt="" />
            <div class="item_content">
              <div class="teacher_name">博恩</div>
              <div class="intro">
                【【<span>黄金策略</span>】<span>经济数据强劲黄金短线承压</span>】
              </div>
              <div>基本面分析</div>
              <div class="introduce">
                昨晚公布多项经济数据,分别是第一季GDP为6.4%
                好过预期值6.1%、第一季个人消费支出季率10.7%有哟噢耶哟哟哟御用
              </div>
              <img src="../../assets/image/home/ic_novicehg.png" alt="" />
            </div>
          </div>
        </div>
      </van-tab>
      <van-tab title="问答互动" name="interactName">
        <div class="interact_content">
          <div class="ita_item" v-for="item in 10" :key="item">
            <div class="ita_user_img">
              <img src="../../assets/image/home/ic_head.png" />
            </div>
            <div class="ita_item_content">
              <div class="ita_uid_date">
                <span>52***825</span>
                <span>{{askDate}}{{dateUnit}}前</span>
              </div>
              <div class="user_question">原油看来今晚是上不去了</div>
              <div class="asked">
                <span>尼克</span>
                <span>回复:</span>
                <span>止损设置14000，目标13</span>
              </div>
            </div>
          </div>
        </div>
      </van-tab>
      <van-tab title="我的提问" name="questionName">
        <div class="quiz_content">
          <van-empty
            description="提问栏空空如也，期待您的精彩提问哟～"
            class="custom-image"
            :image="emptyImg"
            v-show="true"
          >
            <van-button
              type="danger"
              class="bottom-button"
              color="#4162e1"
              to="question"
              >立即提问</van-button
            >
          </van-empty>
        </div>
      </van-tab>
    </van-tabs>
    <div class="questionIcon" @click="toQuestion">
      <img src="../../assets/image/home/ic_btntiwen.png" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Viewpoint",
  data() {
    return {
      activeName: 0,
      //用户几分钟前发言
      askDate:9,
      //小时/天/分钟
      dateUnit:"分钟",
      //提问为空时的图片
      emptyImg:require('../../assets/image/home/ic_question_empty.png')
    };
  },
  methods: {
    toQuestion() {
      this.$router.push("/question");
    },
  },
};
</script>

<style lang="less" scoped>
.viewpoint {
  height: calc(100vh - 53px);
  overflow-y: scroll;
  .questionIcon {
    position: absolute;
    right: 20px;
    bottom: 90px;
    img {
      width: 51px;
      height: 51px;
    }
  }
  .viewpoint_content {
    .vp_item {
      display: flex;
      border-bottom: 3px solid #f2f2f2;
      padding: 10px 8px;
      img {
        width: 50px;
        height: 50px;
      }
      .item_content {
        padding-top: 12px;
        div:nth-last-child(-n + 4) {
          font-size: 13px;
        }
        .teacher_name {
          color: rgb(111, 127, 163);
        }
        .introduce {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
  .interact_content {
    .ita_item {
      display: flex;
      border-bottom: 5px solid #f6f6f6;
      padding: 11px;
      img {
        width: 39px;
        height: 39px;
      }
      .ita_user_img {
        flex: 1;
      }
      .ita_item_content {
        flex: 6;
        .ita_uid_date {
          display: flex;
          justify-content: space-between;
          span:nth-child(1) {
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #324b81;
            line-height: 22px;
          }
          span:nth-child(2) {
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 20px;
          }
        }
        .user_question {
          font-size: 15px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 500;
          line-height: 21px;
          margin: 7px 0 12px 0;
        }
        .asked {
          width: 307px;
          height: 23px;
          background: #f9f9f9;
          border-radius: 4px;
          font-size: 13px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          line-height: 18px;
          span:nth-child(-n+2){
            color: #8693b0;
          }
          span:nth-child(2){
            padding: 0 5px;
          }
          span:nth-child(3){
            color: #212121;
          }
        }
      }
    }
  }
  .quiz_content {
    .bottom-button {
      width: 209px;
      height: 48px;
      border-radius: 22px;
    }
    .custom-image {
      padding: 116px 0;
    }
  }

  .custom-image /deep/ .van-empty__image {
    width: 162px;
    height: 192px;
  }
}
</style>