<template>
  <div class="clientAgreement">
    <van-nav-bar title="客户协议" left-arrow @click-left="onClickLeft" fixed />
    <div class="content">
      本免责声明意在告知客户从事保证金交易的潜在金融风
      险，客户应同风险披露和(“客户协议”)中的条款与条件一齐参阅。<br />
      (1)金丰投资网站的资料,只作一般性质及说明用途。对该
      等资料,金丰投资不会就任何错误、遗漏、或错误陈述或失
      实陈述(不论明示或默示的)承担任何责任。对任何因使用.
      或不当使用或依据金丰投资所载的资料而引|致或所涉及的
      损失、毁坏或损害(包括但不限于相应而生的损失、毁坏或
      损害)，金丰投资概不承担任何义务、责任或法律责任。<br />
      (2)为方便使用者查阅由其他人士/团体或通过其他人士/
      团体提供的资讯，金丰投资网站可能会提供或协助提供超
      连结至外界网站。提供或协助提供该等超连结,并不构成金
      丰投资就赞同或不赞同该等网站之内容作出任何明示或暗
      示的声明、陈述或保证;对任何因使用或不当使用或依据通
      过金丰投资网站传递或提供的外界网站的内容而引|致或所
      涉及的损失、毁坏或损害(包括但不限于相应而生的损失、
      毁坏或损害)，金丰投资概不承担任何义务、责任或法律责任。<br />
      (3)金丰投资网站所提供的所有资料均为金丰投资之财
      产。任何人士如未经金丰投资预先书面授权同意,不得以任
      何理由及形式散发此网站的文字或图档或音像档或在阁下
      之伺服器内重制、修改或重用此系统内容的文字及图档或
      音像档。阁下可以列印或储存有关资料于个人电脑内，以供
      个人使用或参考用途，但须同时保留内容所载的所有版权及其他专有通告。<br />
      (4)金丰投资网站并非供禁止发布或提供金丰投资网站的
      任何司法管辖区内的任何人士使用(基于该名人士的国籍、
      居留地或其他原因)。有关禁制的人士不得使用金丰投资网
      站。使用金丰投资网站所载资料的任何人士有责任遵守其
      有关司法管辖区所有的适用法例及规例。阁下继续使用金
      丰投资网站，即代表阁下陈述及保证阁下的司法管辖区的
      适用法例及规例容许阁下浏览有关资料。<br />
      (5)金丰投资网站不应视为向任何司法管辖地区内的任何
      人士提出其进行买卖任何产品或服务的要约或邀请,即使
      这些行为可于相关地区被视为非法行为。<br />
      (6)保证金交易及买卖具有一定风险，价格可升可跌，阁下
      需知悉并了解相关风险。<br />
      (7)当阁下一旦使用金丰投资网站，即表示阁下无条件接
      受_上述所载的免责条款以及任何金丰投资不时在无须预先
      通知阁下的情况下而对上述条款所做出的的修改及/或修订。
    </div>
  </div>
</template>

<script>
export default {
  name: "ClientAgreement",
  data() {
    return {};
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="less" scoped>
.clientAgreement /deep/ .van-nav-bar__title {
  font-weight: 600;
}
.clientAgreement {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;

  .content {
    padding: 0 9px;
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    // height: 100vh;
    // overflow-y: scroll;
  }
}
</style>