<template>
  <div class="forgetPwd">
    <van-nav-bar
      title="重置密码"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <div class="steps_img">
      <img src="../../../assets/image/home/ic_verification_info_blue.png" />
      <img src="../../../assets/image/home/ic_repassword_gray.png" />
    </div>
    <van-form @submit="onSubmit">
      <van-field
        v-model="tel"
        type="tel"
        name="tel"
        label="手机号码"
        placeholder="请输入手机号码/邮箱"
        :rules="[{ required: true }]"
      />
      <van-field
        v-model="code"
        type="digit"
        name="code"
        label="验证码"
        placeholder="请输入验证码"
        :rules="[{ required: true }]"
      >
        <template #extra>
          <div class="getCode" @click="getCode">获取验证码</div>
        </template>
      </van-field>
      <div class="toast_text">
        友情提示:<br />当您重置密码后，指纹登录功能会自动关闭，需要重新开启，请知晓！
      </div>
      <div style="margin: 16px">
        <van-button
          block
          type="info"
          native-type="submit"
          color="#4162E1"
          size="small"
          >下一步</van-button
        >
      </div>
    </van-form>
    <!-- 点击获取验证码滑块 -->
    <van-overlay :show="show" >
      <div class="wrapper" @click.stop="show = false">
        <div class="block">
          <img src="../../../assets/image/home/ic_huakuaih.png" />
          <div class="slider_content">
            <van-slider v-model="value" @change="onChange" bar-height="25px">
              <template #button>
                <img src="../../../assets/image/home/right_arrow.png"/>
              </template>
            </van-slider>
          </div>
        </div>
      </div>
    </van-overlay>
  </div>
</template>

<script>
export default {
  name: "",
  data() {
    return {
      tel: "",
      code: "",
      show: false,
      value: 5,
    };
  },
  created() {
    console.log(this.$route.query.uid);
  },
  methods: {
    getCode() {
      if (this.tel === "") {
        this.$toast({
          message: "请输入有效的手机号码/邮箱",
          position: "bottom",
        });
      } else if ((this.tel = "15710558351")) {
        this.show = true;
      }
    },
    onChange(value) {
      console.log(value);
      if(value!==100){
          this.value=5
      }
    },
    onSubmit(values) {
      console.log("submit", values);
    },
    onClickLeft() {
      this.$router.go(-1);
    },
  },
  components: {},
};
</script>

<style scoped lang="less">
.forgetPwd /deep/ .van-nav-bar__title {
  font-weight: 600;
}
.forgetPwd {
  height: 100vh;
  background: #f6f6f6;
  .steps_img {
    display: flex;
    justify-content: center;
    background-color: #fff;
    img {
      width: 125px;
    }
  }
  .getCode {
    padding-left: 15px;
    color: #1989fa;
    border-left: 1px solid #ccc;
  }
  .toast_text {
    font-size: 13px;
    color: #666;
    padding: 6px;
    line-height: 18px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .block {
    border-radius: 10px;
    background-color: #fff;
    img {
      width: 311px;
    }
    .slider_content {
      padding: 15px 25px;
      img{
          width: 40px;
      }
    }
  }
}
</style>
