<template>
  <div class="openAccount">
    <van-nav-bar title="金丰投资" left-arrow @click-left="onClickLeft" />
    <van-overlay :show="show" @click="show = false">
      <div class="wrapper" @click.stop>
        <div class="overblock">
          <div class="overlay_off">
            <img src="../../../assets/image/home/icon_close5.png" @click="offOverlay"/>
          </div>
          <div class="advertising">
            <img src="../../../assets/image/home/ic_exitnewacc.png" />
          </div>
          <div @click="toLogin">狠心放弃</div>
        </div>
      </div>
    </van-overlay>
    <van-tabs
      @click="onClick"
      animated
      swipeable
      line-width="50%"
      line-height="2px"
      color="#0752B5"
      title-active-color="#0752B5"
    >
      <!-- 真实开户 -->
      <van-tab title="真实">
        <div class="fake_content">
          <div class="content_item2">
            <!-- :rules="[{ required: true, message: '请填写用户名' }]" -->
            <van-form @submit="onSubmit">
              <van-field
                v-model="username"
                name="username"
                label="姓名:"
                type="text"
                placeholder="请填写和证件上一致的姓名"
              />
              <van-field
                v-model="tel"
                name="phone"
                label="手机号码:"
                type="tel"
                placeholder="请输入手机号码"
				:rules="[{ required: true, message: '请输入手机号码' }]"
              />
              <van-cell class="cutPadding">
                <template #title>
                  <van-field
                    v-model="code"
                    name="code"
                    label="验证码:"
                    type="digit"
                    placeholder="请输入验证码"
					:rules="[{ required: true, message: '请输入验证码' }]"
                  >
                  </van-field>
                </template>
                <template #right-icon>
                  <div class="getCode" @click="getVerifyCode" v-show="!computedTime"><span>获取验证码</span></div>
				  <div class="getCode"  v-show="computedTime"><span>已发送({{computedTime}}s)</span></div>
                </template>
              </van-cell>
              <!-- 密码 -->
              <van-cell class="cutPadding">
                <template #title>
                  <van-field
                    v-model="password"
                    name="password"
                    label="账号密码:"
                    :type="typeChange"
                    placeholder="6-12位字母数字组合"
					:rules="[{ required: true, message: '请输入账号密码' }]"
                  >
                  </van-field>
                </template>
                <template #right-icon>
                  <div class="showPwd" @click="isShowPwd">
                    <img
                      src="../../../assets/image/home/ic_close_eye.png"
                      v-show="pwdhidden"
                    />
                    <img
                      src="../../../assets/image/home/ic_open_eye.png"
                      v-show="pwdShow"
                    />
                  </div>
                </template>
              </van-cell>
              <!-- 选择地区 -->
              <van-cell title="单元格" class="cutPadding">
                <template #title>
                  <van-field
                    label="选择地区:"
                    :value="value"
                    readonly
                    @click="showPicker = true"
                    clickable
                  />
                </template>
                <template #default>
                  <van-icon name="arrow-down" @click="showPicker = true" />
                </template>
              </van-cell>
              <van-popup v-model="showPicker" position="bottom">
                <van-picker
                  show-toolbar
                  :columns="columns"
                  @confirm="onConfirm"
                  @cancel="showPicker = false"
                  :default-index="0"
                />
              </van-popup>
              <van-field
                v-model="Idnumber"
                name="Idnumber"
                label="证件号码:"
                type="text"
                placeholder="因监管要求，请正确填写证件号"
              />
              <van-field
                v-model="InviteCode"
                name="InviteCode"
                label="邀请码:"
                type="text"
                placeholder="请输入好友的邀请码（非必选）"
              />
              <van-field name="radio" class="addPadding">
                <template #input>
                  <van-checkbox v-model="checked" label-disabled>
                    本人已认真阅读、充分理解并接受及同意金丰投资提供的
                    <span @click="clientAgreement()">客户协议、</span>
                    <span @click="riskDisclosure()">风险披露、</span>
                    <span @click="disclaimer()">免责声明、</span>
                    <template #icon="props">
                      <img
                        class="img-icon"
                        :src="props.checked ? activeIcon : inactiveIcon"
                      />
                    </template>
                  </van-checkbox>
                </template>
              </van-field>
              <div style="margin: 40px">
                <van-button
                  block
                  type="info"
                  native-type="submit"
                  size="small"
                  color="#0752B5"
                  >立即开户</van-button
                >
              </div>
            </van-form>
          </div>
        </div>
      </van-tab>
      <!-- 体验开户 -->
      <van-tab title="体验">
        <div class="fake_content">
          <div class="content_item2">
            <!-- :rules="[{ required: true, message: '请填写用户名' }]" -->
            <van-form @submit="onSubmit">
              <van-field
                v-model="tel"
                name="phone"
                label="手机号码:"
                type="tel"
                placeholder="请输入手机号码"
              />
              <van-cell class="cutPadding">
                <template #title>
                  <van-field
                    v-model="code"
                    name="code"
                    label="验证码:"
                    type="digit"
                    placeholder="请输入验证码"
                  >
                  </van-field>
                </template>
                <template #right-icon>
                  <div class="getCode"><span>获取验证码</span></div>
                </template>
              </van-cell>
              <!-- 密码 -->
              <van-cell class="cutPadding">
                <template #title>
                  <van-field
                    v-model="password"
                    name="password"
                    label="账号密码:"
                    :type="typeChange"
                    placeholder="请输入您的账号密码"
                  >
                  </van-field>
                </template>
                <template #right-icon>
                  <div class="showPwd" @click="isShowPwd">
                    <img
                      src="../../../assets/image/home/ic_close_eye.png"
                      v-show="pwdhidden"
                    />
                    <img
                      src="../../../assets/image/home/ic_open_eye.png"
                      v-show="pwdShow"
                    />
                  </div>
                </template>
              </van-cell>
              <van-field name="radio">
                <template #input>
                  <van-checkbox v-model="checked" label-disabled>
                    本人已认真阅读、充分理解并接受及同意金丰投资提供的
                    <span>客户协议、</span>
                    <span>风险披露、</span>
                    <span>免责声明、</span>
                    <template #icon="props">
                      <img
                        class="img-icon"
                        :src="props.checked ? activeIcon : inactiveIcon"
                      />
                    </template>
                  </van-checkbox>
                </template>
              </van-field>
              <div style="margin: 40px">
                <van-button
                  block
                  type="info"
                  native-type="submit"
                  size="small"
                  color="#0752B5"
                  >提交</van-button
                >
              </div>
            </van-form>
          </div>
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import {reg,sms} from '@/common/model'
export default {
  name: "OpenAccount",
  data() {
    return {
      tel: "",
      code: "",
      password: "",
      username: "",
      checked: true,
      Idnumber: "",
      InviteCode: "",
      activeIcon: require("../../../assets/image/home/disagree.png"),
      inactiveIcon: require("../../../assets/image/home/agree.png"),
      pwdShow: false,
      pwdhidden: true,
      typeChange: "password",
      //地区
      value: "中国",
      columns: [
        "中国",
        "其他地区",
        "韩国",
        "日本",
        "新加坡",
        "澳大利亚",
        "新西兰",
      ],
      showPicker: false,
      show: false,
      computedTime: 0, //倒数记时
    };
  },
  computed: {
    //判断手机号码
    rightPhoneNumber: function () {
      return /^1\d{10}$/gi.test(this.tel);
    },
  },
  methods: {
	  //获取短信验证码
	async getVerifyCode(){
		if (this.rightPhoneNumber) {
			this.computedTime = 60;
			this.timer = setInterval(() => {
				this.computedTime --;
				if (this.computedTime == 0) {
					clearInterval(this.timer)
				}
			}, 1000)
			//发送短信验证码
			let res = await sms(this.tel);
		}
	},
    onClickLeft() {
      // this.$router.go(-1);
      this.show = true;
    },
    onClick(name) {
      console.log(name);
    },
    async onSubmit(values) {
		if(!this.checked){
			this.$toast({
			  message: '请认真阅读用户协议',
			  position: 'bottom',
			});
			return;
		}
		let res = await reg(this.tel,values.code,values.password,values.InviteCode);
		if(res){
			this.$toast.loading({
				duration: 0, // 持续展示 toast
				forbidClick: true,
				message: '注册成功',
			});
			
			let second = 3;
			const timer = setInterval(() => {
				second--;
				if (!second) {
					clearInterval(timer);
					this.$toast.clear();
					this.$router.push('/login');
				}
			}, 1000);
		}
    },
    //点击切换显示密码
    isShowPwd() {
      this.pwdShow = !this.pwdShow;
      this.pwdhidden = !this.pwdhidden;
      this.pwdhidden
        ? (this.typeChange = "password")
        : (this.typeChange = "text");
    },
    //地区提交
    onConfirm(value) {
      this.value = value;
      this.showPicker = false;
      console.log(value);
    },
    //关闭广告图
    offOverlay(){
      this.show=false;
    },
    toLogin(){
      this.$router.push('/login')
    },
    //客户协议
    clientAgreement() {
      this.$router.push("/clientAgreement");
    },
    //风险披露
    riskDisclosure() {
      this.$router.push("/riskDisclosure");
    },
    //免责声明
    disclaimer(){
      this.$router.push("/disclaimer");
    }
  },
};
</script>

<style lang="less" scoped>
.openAccount /deep/ .van-nav-bar__title {
  font-weight: 600;
}
.openAccount {
  .fake_content {
    height: 100vh;
    background-color: #f2f2f2;
    .content_item2 {
      padding-top: 8px;
      .getCode {
        line-height: 38px;
        span {
          padding: 3px 5px;
          border-left: 1px solid #ccc;
        }
      }
      .van-cell {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC;
        line-height: 20px;
        .van-cell__title {
          flex: 3;
        }
        .van-cell__value {
          line-height: 40px;
          font-size: 16px;
        }
      }
      .img-icon {
        height: 20px;
      }
      .van-checkbox__label {
        color: #000;
        span {
          color: #3e7dff;
        }
      }
    }
    .content_item2 /deep/ .cutPadding {
      padding: 0 16px 0 0;
      .showPwd {
        line-height: 38px;
        img {
          width: 20px;
        }
      }
    }
    .content_item2 /deep/ .van-checkbox__label {
      color: #000;
    }
    .content_item2 /deep/.addPadding {
      padding: 20px 16px 0px;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .overblock {
    color: #ccc;
    text-align: center;
    .overlay_off {
      text-align: right;
      img {
        width: 15px;
      }
    }
    .advertising {
      margin-bottom: 5px;
      img {
        width: 320px;
      }
    }
  }
}
</style>