<template>
  <div class="riskDisclosure">
    <van-nav-bar title="风险披露" left-arrow @click-left="onClickLeft" fixed />
    <div class="content">
      金丰投资网Magic Compass(以下称:金丰投资)提醒您,
      保证金交易及买卖存在高风险,客户需提前了解所面临的
      风险,不应该贸然进行投资交易。客户亦应该谨慎考虑自身
      的投资目标、经验、财务状况及风险承受能力，自行衡量是 否适合进行投资。<br />
      任何保证金交易都具备-定风险,包括(但不限于)杠杆、
      信用可靠度、有限的法务保护，及可能很大程度影响到货币
      或货币对价格或交易量的市场动荡因素。<br />
      保证金及杠杆<br />
      金丰投资所有产品均是以杠杆保证金为基础的交易，保证
      金通常指总合约价值的其中相对一小部分。比如交易杠杆
      比是100:1的合约需要合约价值1%的资金作为保证金。即
      意味着一个小的价格变动将可能导致您交易合约值的较大
      变化，为此您的投资可能遭受巨额损失，亦或带来巨大收益。<br />

      您可能会损失您的初始资金，并被要求追加保证金以维持
      您的头寸。如未能达到保证金要求，您的持仓头寸将被强制
      平仓，由此产生的损失将由您自己承担，望知悉。<br />
      金丰投资所有产品报价有升有跌,特定情况下投资这些产
      品可能面临巨大风险,投资可咨询私人法律、金融、税务、
      财务及其他顾问，保证所作投资决定适合投资者个人情况 及财力。<br />

      市场风险<br />
      任何在金丰投资网站上发布的观点、新闻资讯、研究分析、
      价格及其他信息等,均为普通性市场评论,而非投资建议。
      由于参考此类信息而可能直接或间接导致的损失,包括(但
      不限于)利润损失,金丰投资具有免责权。<br />
      网页<br />
      金丰投资已采取合理的措施以确保网站上此类信息的正确
      性。网站信息内容可能会在任何时间、在不被通知的情况下产生变动。
    </div>
  </div>
</template>

<script>
export default {
  name: "RiskDisclosure",
  data() {
    return {};
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="less" scoped>
.riskDisclosure /deep/ .van-nav-bar__title {
  font-weight: 600;
}
.riskDisclosure {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  .content {
    padding: 0 9px;
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    // height: 100vh;
    // overflow-y: scroll;
  }
}
</style>