<template>
  <div id="home">
    <nav-bar class="home-nav">
      <div slot="left" @click="toMessageCenter"><span class="iconfont icon-tongzhi" /></div>
      <div slot="middle">首页</div>
      <div slot="right" @click="toOnlineConsulting">
        <img src="../../assets/image/home/ic_erji2.png" />
      </div>
    </nav-bar>
    <div class="content">
      <div class="top_half_content">
        <div class="content_swiper">
          <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
            <van-swipe-item v-for="(item,index) in 3" :key="index">
              <img src="../../assets/image/home/swiper_img4.png" alt="" />
            </van-swipe-item>
          </van-swipe>
        </div>
        <!-- 大喇叭 -->
        <van-notice-bar
          left-icon="../../assets/image/home/ic_rzring.png"
          :scrollable="false"
          background="transparent"
        >
          <van-swipe
            vertical
            class="notice-swipe"
            :autoplay="3000"
            :show-indicators="false"
          >
            <van-swipe-item
              >CHINAA300、CHA50产品04月合约到期通知</van-swipe-item
            >
            <van-swipe-item>劳动节假期产品休市安排</van-swipe-item>
            <van-swipe-item>GER30交易时间调整通知</van-swipe-item>
          </van-swipe>
        </van-notice-bar>

        <!-- 浮动指数 -->
        <div class="money">
          <div class="money_left">
            <div>伦敦金</div>
            <div>
              <span>1768.86</span>
              <img src="../../assets/image/home/red_down2.png" alt="" />
            </div>
            <div class="offline">
              <span>-2.31</span>
              <span>-0.12%</span>
            </div>
          </div>
          <div class="money_right">
            <div>伦敦银</div>
            <div>
              <span>25.880</span>
              <img src="../../assets/image/home/red_down2.png" alt="" />
            </div>
            <div class="offline">
              <span>-2.31</span>
              <span>-0.12%</span>
            </div>
          </div>
        </div>
        <!-- 立即交易 立即存款 -->
        <div class="top_half_content_btn">
          <div class="get_total" @click="toDeposit">
            <!-- <img src="../../assets/image/home/ic_home_open_demo.png" /> -->
          <img src="../../assets/image/home/ic_home_recharge.png" />
          </div>
          <div class="invite_friends" @click="toTrading">
            <!-- <img src="../../assets/image/home/ic_home_open_real.png" /> -->
            <img src="../../assets/image/home/ic_home_trade.png" />
          </div>
        </div>
      </div>
      <!-- 热点推荐 -->
      <div class="hot_recommend">
        <div class="recommend_title">热点推荐</div>
        <div class="recommend_item">
          <van-swipe :loop="false" :width="250" :show-indicators="false">
            <van-swipe-item class="recommend_swiper" v-for="(item,index) in 4" :key="index" @click="toHotRecommend">
              <div class="item">
                <div class="item_title">
                  <div>道琼斯指数US30</div>
                  <div>1695人已参加</div>
                </div>
                <div class="item_intro">
                  基本面分析:昨日美国第一季啦啦啦阿拉啦啦
                </div>
                <img
                  class="item_vs"
                  src="../../assets/image/home/bg_homepoint_botton.png"
                  alt=""
                />
                <div class="item_date">2021-04-30 16:25</div>
              </div>
            </van-swipe-item>
          </van-swipe>
        </div>
      </div>
      <!-- 福利专区 -->
      <div class="welfare">
        <div class="welfare_title">福利专区</div>
        <div class="welfare_content">
          <div class="welfare_item">
            <div class="item_left">
              <img src="../../assets/image/home/ic_headvip.png" alt="" />
            </div>
            <div class="item_middle">
              <div>非农<span>$2888</span>赠金等你拿</div>
              <div>普天同庆奖励升级</div>
            </div>
            <div class="item_right">
              <span>立即参与</span>
            </div>
          </div>
          <div class="welfare_item2">
            <div class="item_left">
              <img src="../../assets/image/home/ic_headvip.png" alt="" />
            </div>
            <div class="item_middle">
              <div>充值领赠金<span>$150</span></div>
              <div>开户充值限时领</div>
            </div>
            <div class="item_right">
              <span>立即参与</span>
            </div>
          </div>
          <div class="welfare_item3">
            <div class="item_left">
              <img src="../../assets/image/home/ic_headvip.png" alt="" />
            </div>
            <div class="item_middle">
              <div>邀请好友可获<span>$2400</span></div>
              <div>多邀赠金无上限</div>
            </div>
            <div class="item_right">
              <span>立即参与</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 财经日历 -->
      <div class="money_info">
        <div class="info_title">
          <div class="info_title_left">财经日历</div>
          <div class="info_title_right">
            <span>更多</span>
            <img src="../../assets/image/home/more_1x.png" alt="" />
          </div>
        </div>
        <div class="info_content">
          <div class="content_title">
            <img src="../../assets/image/home/ic_hyan3.png" alt="" />
            <div>财经资讯</div>
          </div>
          <div class="info_content_item1 item1_border">
            <div class="info_C">
              <div>
                <img src="../../assets/image/home/ic_usd.png" alt="" />
                <van-rate v-model="value" readonly count="3" size="15" gutter="2px" style="padding-left:8px"/>
              </div>
              <div>04:30</div>
            </div>
            <div class="info_content_item_title">
              美国至4月26日当周外国央行持有美国国债(亿美元)
            </div>
            <div class="info_num">
              <div>前值：-84.14亿美元</div>
              <div>预测：--</div>
              <div>公布：-81.62亿美元</div>
            </div>
          </div>
          <div class="info_content_item1">
            <div class="info_C">
              <div>
                <img src="../../assets/image/home/ic_usd.png" alt="" />
                <van-rate v-model="value" readonly count="3" size="15" gutter="2px" style="padding-left:8px"/>
              </div>
              <div>04:30</div>
            </div>
            <div class="info_content_item_title">
              美国至4月26日当周外国央行持有美国国债(亿美元)
            </div>
            <div class="info_num">
              <div>前值：-84.14亿美元</div>
              <div>预测：--</div>
              <div>公布：-81.62亿美元</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "../../components/common/navbar/NavBar.vue";
export default {
  name: "home",
  components: {
    NavBar,
  },
  data() {
    return {
      rateVal: 2,
      //评分星星
      value:2
    };
  },
  created() {},
  methods: {
    toOnlineConsulting() {
      this.$router.push("/onlineConsulting");
    },
    //立即交易
    toDeposit(){
      this.$router.push("/checkstand");
    },
    toTrading(){

    },
    //消息中心
    toMessageCenter(){
      this.$router.push('/messageCenter')
    },
    toHotRecommend(){
      this.$router.push('/hotRecommend')
    }
  },
};
</script>

<style scoped lang="less">
@import "../../assets/css/home/home.less";
@import "../../assets/icon/iconfont.css";
</style>
