<template>
  <div id="app">
    <keep-alive><router-view /></keep-alive>
    <main-tab-bar v-show="$route.meta.showTabbar"></main-tab-bar>
  </div>
</template>

<script>
import MainTabBar from "./components/content/mainTabbar/MainTabBar";
export default {
  name: "App",
  data() {
    return {};
  },
  components: {
    MainTabBar,
  },
};
</script>

<style scoped="scoped">
@import "./assets/css/base.css";
</style>
