<template>
  <div class="login">
    <van-nav-bar title="金丰投资" @click-right="onClickRight">
      <template #right>
        <van-icon name="cross" size="18" color="#333" /> </template
    ></van-nav-bar>
    <van-tabs
      v-model="active"
      line-width="50%"
      color="#4162E1"
      title-active-color="#4463D5"
      line-height="2px"
    >
      <van-tab title="真实交易">
        <van-form @submit="onSubmit">
          <van-field
            v-model="username"
            name="username"
            label="账户"
            placeholder="请输入账号/手机/邮箱"
          />
          <van-field
            v-model="password"
            type="password"
            name="password"
            label="密码"
            placeholder="请输入密码"
          >
            <template #button>
              <van-switch v-model="checked" size="20px" />
            </template>
          </van-field>
          <div class="forgot_password">忘记密码?</div>
          <div style="margin: 16px">
            <van-button block type="info" native-type="submit" size="small"
              >登录</van-button
            >
          </div>
		   </van-form>
          <div style="margin: 16px">
			<van-button
              block
              type="info"
              size="small"
              plain
              to="openAccount"
              >开户</van-button>
          </div>
       
      </van-tab>
      <van-tab title="体验交易">
        <van-form @submit="onSubmit">
          <van-field
            v-model="username"
            name="username"
            label="账户"
            placeholder="33143694"
          />
                      <!-- :rules="[{ required: true, message: '请输入密码' }]" -->
          <van-field
            v-model="password"
            type="password"
            name="password"
            label="密码"
            placeholder="123456"
          >
            <template #button>
              <van-switch v-model="checked" size="20px" />
            </template>
          </van-field>
          <div class="forgot_password">忘记密码?</div>
          <div style="margin: 16px">
            <van-button block type="info" native-type="submit" size="small"
              >登录</van-button
            >
          </div>
		  </van-form>
          <div style="margin: 16px">
            <van-button
              block
              type="info"
              size="small"
              plain
              to="openAccount"
              >开户</van-button
            >
          </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import {login} from '../../common/model'
export default {
  name: "Login",
  data() {
    return {
      active: 0,
      username: "",
      password: "",
      checked: true,
    };
  },
  methods: {
	async onSubmit(values){
		let res = await login(values.username,values.password,'android');
		if(res){
			localStorage.setItem("token",res.data.access_token);
			this.$toast.loading({
				duration: 0, // 持续展示 toast
				forbidClick: true,
				message: '登录成功',
			});
			
			let second = 3;
			const timer = setInterval(() => {
				second--;
				if (!second) {
					clearInterval(timer);
					this.$toast.clear();
					this.$router.push('/profile');
				}
			}, 1000);
		}
	},
    onClickRight() {
      this.$router.push('/profile');
    },
  }
};
</script>

<style lang="less" scoped>
.login {
  height: 100vh;
  .van-form {
    margin-top: 5px;
  }
  .van-tabs {
    height: 100vh;
    background-color: #f2f2f2;
  }
  .forgot_password {
    color: #ccc;
    font-size: 12px;
    text-align: right;
    padding: 6px 3px 0 0;
  }
}
</style>