<template>
  <div class="feedback">
    <van-nav-bar
      title="提问"
      left-arrow
      @click-left="onClickLeft"
      :border="false"
    />
    <van-form @submit="onSubmit">
      <van-field
        type="textarea"
        v-model="questions"
        autosize
        name="questions"
        placeholder="您可以在这里向老师提问，老师会尽快给您回复"
        class="qt_textarea"
        :border="false"
      />
      <van-field name="uploader" :border="false">
        <template #input>
          <van-uploader
            :after-read="afterRead"
            v-model="uploaderImg"
            :max-count="3"
            capture
          >
            <img
              :src="placeholderImg"
              style="width: 104px"
            />
          </van-uploader>
        </template>
      </van-field>
      <div class="bottom_content">
        <van-button
          block
          type="info"
          native-type="submit"
          class="bottom-button"
          color="#4162E1"
          >立即提问</van-button
        >
        <div class="toService" @click="toOnlineService">
          <img src="../../../assets/image/home/ic_kefu2.png" />
          <span>联系客服</span>
        </div>
      </div>
    </van-form>
  </div>
</template>

<script>
export default {
  name: "Question",
  data() {
    return {
      questions: "",
      uploaderImg: [],
      placeholderImg:require('../../../assets/image/home/ic_feedback_photo_default.png')
    };
  },
  methods: {
    onClickLeft() {
      this.$router.go(-1);
    },
    afterRead(file) {
      // 此时可以自行将文件上传至服务器
      console.log(file);
    },
    onSubmit(values) {
      console.log("submit", values);
      this.$router.push('/viewPoint')
    },
    toOnlineService(){
        this.$router.push('/onlineConsulting')
    }
  },
};
</script>

<style lang="less" scoped>
.feedback {
  i {
    font-size: 80px;
  }
  .bottom_content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 16px;
    text-align: center;
    .toService {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 11px;
      img {
        width: 10px;
        height: 13px;
        margin-right: 5px;
      }
      span {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #4963c2;
      }
    }
  }
}
.feedback /deep/ .van-uploader__preview-image {
  width: 104px;
  height: 104px;
}
.qt_textarea /deep/ .van-cell__value {
  min-height: 155px;
  padding: 10px;
  border: 1px solid #e9e9e9;
}
</style>