<template>
	<div class="stand">
		<van-nav-bar
		  title="收银台"
		  left-arrow
		  @click-left="onClickLeft"
		  :border="false"
		/>
		<div class="cont">
			<div class="time">
				<div>转账倒计时</div>
				<div class="hong">04</div>
				<div>时</div>
				<div class="hong">14</div>
				<div>分</div>
				<div class="hong">50</div>
				<div>秒</div>
			</div>
			<div class="zhuan">
				<div class="yie">
					<div class="zhuanzi">转账金额</div>
					<div class="wubi">请务必按照支付金额付款，以便资金快速到账</div>
				</div>
				<div class="yie2">
					<div class="jine">¥ 44,987.39</div>
					<div class="copy">复制</div>
				</div>
			</div>
			<div class="shous">
				<div class="shou">
					<div class="zhang">
						<div class="shouz">收款账户</div>
						<div class="hao">6217 9961 0004 5828 728</div>
						<div class="copy">复制</div>
					</div>
					<div class="jinxian">账号仅限本次使用，请勿收藏保存</div>
				</div>
				<div class="tiaos"></div>
				<div class="shou">
					<div class="zhang">
						<div class="shouz">收款姓名</div>
						<div class="hao">刘德林</div>
						<div class="copy">复制</div>
					</div>
				</div>
				<div class="tiaos"></div>
				<div class="shou">
					<div class="zhang">
						<div class="shouz">收款银行</div>
						<div class="hao">邮储银行</div>
						<div class="copy">复制</div>
					</div>
				</div>
				<div class="tiaos"></div>
			</div>
			<div class="tishi">
				<div class="tiao">
					<div>1. </div>
					<div>
						您实际的“转账金额”必须与选定的“订单金额”据对 一致；
					</div>
				</div>
				
				<div class="tiao">
					<div>2. </div>
					<div>
						请务必使用本人银行卡，严格按照所提供账户和金额转账，以便资金正常到账！
					</div>
				</div>
				<div class="tiao">
					<div>3. </div>
					<div>
						银行账号只限本次支付使用，切勿使用保存的银行账号转钱；
					</div>
				</div>
			</div>
			<div class="yiwen">如有疑问，<span class="qing">请联系在线客服</span></div>
			<div class="quxiao" @click="noPay">取消订单</div>
		</div>
	</div>
</template>

<script>
export default {
  name: "Stand",
	data() {
	  return {
		  isTan:true
	  }
	},
  methods: {
	onClickLeft() {
	  this.$router.go(-1);
	  sessionStorage.setItem("advertising",this.isTan);
	},
	noPay(){
		this.$router.go(-1)
	}
  },
};
</script>

<style lang="less" scoped>
.stand{
	.cont{
		width:342px;
		margin:0 auto;
		.time{
			margin: 30px 0 35px;
			margin-left:48px;
			display: flex;
			font-size: 15px;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #D45E5F;
			line-height: 21px;
			letter-spacing: 1px;
			.hong{
				width: 31px;
				height: 24px;
				background: #F15151;
				border-radius: 7px;
				font-size: 15px;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				color: #FFFFFF;
				text-align: center;
				line-height: 24px;
				margin: -2px 5px 0;
			}
		}
		.zhuan{
			width: 342px;
			height: 90px;
			background: #FFFFFF;
			box-shadow: 0px 4px 10px 0px #E8E8E8;
			border-radius: 7px;
			.yie{
				display: flex;
				justify-content: space-between;
				padding:13px 5px 0;
				.zhuanzi{
					font-size: 12px;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #333333;
				}
				.wubi{
					font-size: 12px;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #D45E5F;
				}
			}
			.yie2{
				display: flex;
				justify-content: space-between;
				padding:15px 5px 0 14px;
				.jine{
					font-size: 31px;
					font-family: Arial-BoldMT, Arial;
					font-weight: normal;
					color: #373A41;
				}
				.copy{
					width: 40px;
					height: 23px;
					border-radius: 4px;
					border: 1px solid #517CD6;
					font-size: 10px;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #517CD6;
					line-height: 23px;
					text-align: center;
					margin-top:8px;
				}
			}
		}
		.shous{
			margin-top:44px;
		}
		.shou{
			.zhang{
				display: flex;
				justify-content: space-between;
				.copy{
					width: 40px;
					height: 23px;
					border-radius: 4px;
					border: 1px solid #517CD6;
					font-size: 10px;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #517CD6;
					line-height: 23px;
					text-align: center;
				}
				.shouz{
					font-size: 15px;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #333333;
				}
				.hao{
					width:215px;
					font-size: 18px;
					font-family: Arial-BoldMT, Arial;
					font-weight: normal;
					color: #373A41;
					text-align: right;
				}
			}
			.jinxian{
				text-align: right;
				margin-top:5px;
				font-size: 12px;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #E06061;
			}
		}
		.tiaos{
			width: 329px;
			height: 1px;
			border: 1px solid #F8F8F8;
			margin:15px 0 15px 15px;
		}
		.tishi{
			margin:auto;
			width: 340px;
			font-size: 14px;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #999999;
			line-height: 20px;
			margin-top:24px;
			margin-bottom:86px;
		}
		.tiao{
			font-size: 14px;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #707175;
			display: flex;
			padding-bottom:5px;
		}
		.yiwen{
			font-size: 14px;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #333333;
			text-align: center;
			margin-bottom:15px;
		}
		.qing{
			font-size: 14px;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #457EF2;
		}
		.quxiao{
			width: 345px;
			height: 46px;
			border-radius: 4px;
			border: 1px solid #4B7CE1;
			font-size: 14px;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #457EF2;
			line-height: 46px;
			text-align: center;
		}
	}
}
</style>
