<template>
  <div class="market">
    <nav-bar class="market-nav">
      <div slot="middle">行情</div>
    </nav-bar>
    <div class="market_content">
      <div class="title">
        <div>品种</div>
        <div>卖出</div>
        <div>买入</div>
      </div>
      <div class="content_item">
        <div class="item">
          <div class="varieties">
            <div>XAUUSD</div>
            <div>伦敦金</div>
            <div>点差:<span>42</span></div>
          </div>
          <div class="sell">
            <div class="active_fall">-0.19%</div>
            <div class="active_fall">1768.86</div>
            <div>最低:<span>1764.17</span></div>
          </div>
          <div class="buy">
            <div>20:44:54</div>
            <div class="active_up">1769.28</div>
            <div>最高:<span>1773.16</span></div>
          </div>
        </div>
        <div class="item">
          <div class="varieties">
            <div>XAUUSD</div>
            <div>伦敦金</div>
            <div>点差:<span>42</span></div>
          </div>
          <div class="sell">
            <div class="active_fall">-0.19%</div>
            <div class="active_fall">1768.86</div>
            <div>最低:<span>1764.17</span></div>
          </div>
          <div class="buy">
            <div>20:44:54</div>
            <div class="active_up">1769.28</div>
            <div>最高:<span>1773.16</span></div>
          </div>
        </div>
        <div class="item">
          <div class="varieties">
            <div>XAUUSD</div>
            <div>伦敦金</div>
            <div>点差:<span>42</span></div>
          </div>
          <div class="sell">
            <div class="active_fall">-0.19%</div>
            <div class="active_fall">1768.86</div>
            <div>最低:<span>1764.17</span></div>
          </div>
          <div class="buy">
            <div>20:44:54</div>
            <div class="active_up">1769.28</div>
            <div>最高:<span>1773.16</span></div>
          </div>
        </div>
      </div>

      <div class="account_details">
        <div class="details_updown" @click="showMoney">
          <van-icon :name="iconName" color="#e64040" />
        </div>
        <div class="money_detail" >
          <div class="money_detail_show">
            <div>
              <span>33143694</span>
              <span>体验账号</span>
            </div>
            <div>
              <span>0.00</span>
              <span>持仓盈亏</span>
            </div>
            <div>
              <span>--</span>
              <span>保证金比例</span>
            </div>
            <div class="deposit_btn">
              <span>存款</span>
            </div>
          </div>
          <!-- 隐藏的资金 -->
          <div class="money_detail_show" v-show="userMoneyisShow">
            <div>
              <span>10000.00</span>
              <span>净值</span>
            </div>
            <div>
              <span>10000.00</span>
              <span>可用保证金</span>
            </div>
            <div>
              <span>0.00</span>
              <span>已用保证金</span>
            </div>
            <div>
              <span>10000.00</span>
              <span>余额</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "../../components/common/navbar/NavBar.vue";
export default {
  name: "Market",
  data() {
    return {
      userMoneyisShow: false,
      iconName: "arrow-down",
    };
  },
  components: {
    NavBar,
  },
  methods: {
    //显示用户账号资金
    showMoney() {
      this.userMoneyisShow = !this.userMoneyisShow;
      this.userMoneyisShow
        ? (this.iconName = "arrow-up")
        : (this.iconName = "arrow-down");
    },
  },
};
</script>

<style scoped="scoped">
@import "../../assets/css/market/market.css";
</style>
